{% load teleforma_tags %}{% load i18n %}{% autoescape off %}{% trans "Hello" %},

{% trans "You're receiving this e-mail because you requested a password reset" %}
{% if logins|length > 1 %}pour vos comptes {% for login in logins %}{{login}}{% if not forloop.last %}, {% endif %}{% endfor %}.{% else %}pour votre compte {{logins.0}}.
{% endif %}

{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'teleforma-password-reset-confirm' uidb64=uid token=token %}
{% endblock %}

{% trans "Best regards" %},
{% trans "The site administrator" %} {% trans "of the" %} {% organization %}

{% endautoescape %}
