{% extends "teleforma/base.html" %}
{% load i18n %}

{% block title %}<br />{% trans "Password reset" %}{% endblock %}

{% block content %}
<p>Vous avez oubliez votre mot de passe ? Veuillez saisir votre adresse e-mail ou votre identifiant de connexion et nous vous enverrons un email avec les instructions pour définir un nouveau mot de passe.
</p>

<form id="password_reset" action="" method="post">{% csrf_token %}
{{ form.email.errors }}
<p><label for="id_email">Adresse e-mail ou identifiant</label> {{ form.email }} <a href="#" class="component_icon button icon_ok" onclick="document.getElementById('password_reset').submit(); return false;">{% trans 'Reset my password' %}</a></p>
</form>
{% endblock %}
