{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load telemeta_utils %}
{% load teleforma_tags %}

{% block title %}<center>{% trans "Registration" %} - {% description %}</center>{% endblock %}

{% block content %}
<center>
<div class="register">
Vous venez de réaliser avec succès votre préinscription à la formation {{ period }} du Pré-Barreau.

<br><br>

Afin de compléter votre inscription, il est nécessaire d’imprimer le formulaire ci-dessous, de le dater et le signer, et nous le retourner accompagné de deux photos d’identité à l’adresse suivante :
<br><br>

LE PRE-BARREAU<br>
Service inscription<br>
3, rue de Nesle<br>
75006 Paris
<br><br><br>

<a href="{% url teleforma-registration-view username %}" class="component_icon button" id="action_green" target="_blank"><img src="/static/telemeta/images/download.png" alt="" style="vertical-align:middle" />&nbsp;{% trans "Download" %}</a>
<br><br><br>

Une fois votre dossier reçu et confirmé par nos services, vous recevrez un mail vous invitant à procéder au règlement des arrhes par carte bancaire. <b>Votre inscription ne sera validée qu’au terme de cette ultime étape.</b>
<br><br>
<a href="http://crfpa.pre-barreau.com/tarifs/conditions-generales-dinscription">Conditions générales d’inscription</a>
<br><br>


</center>
</div>

{% endblock %}
