{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load teleforma_tags %}

{% block extra_javascript %}
<script src="/static/teleforma/js/datepicker-fr.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("[name='birthday']").datepicker({
            dateFormat: 'dd/mm/yy',
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+0"
        });
    });
</script>
{% endblock %}

{% block extra_stylesheets %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}

<form class="register" id="_registerForm" method="post" action="" enctype="multipart/form-data" data-ajax="false">
    {% csrf_token %}

    <p>Pour ceux qui <strong>souhaitent s’inscrire en présentiel</strong>, nous vous informons que vous êtes
        susceptibles
        - dans la mesure ou les conditions sanitaires ne s’amélioreraient pas d’ici fin juin et que les mesures
        gouvernementales nous imposeraient des effectifs réduits – <strong>d’être basculé en e-learning</strong>.</p>

    <p>Bien évidemment, dans ce cas de figure, vous seriez remboursé à due concurrence.</p>
    <br />

    <h1>{% if mode_corrector %}Pré-inscription des correcteurs - PRÉ-BARREAU -
        CRFPA{% else %}{% trans "Pre-registration" %} -
        {% description %}{% endif %}</h1>

    {{ introduction|safe }}

    <h2><img src="{{ STATIC_URL }}teleforma/images/crfpa_coordonnees.svg"
            onerror="this.onerror=null; this.src='{{ STATIC_URL }}teleforma/images/crfpa_coordonnees.png'"
            alt="vos coordonnées" title="vos coordonnées" />


        Vos coordonnées</h2>

    <fieldset>
        <div class="column">
            {% for fieldname in form.user_fields %}

            {% with field=form|get_item:fieldname %}
            <div class="info_champs">
                <label for="id_{{ field.name }}">
                    {{ field.label }} {% if field.field.required %}<span class="required">*</span>{% endif %}
                </label>
                <span class="helptext">
                    {{ field.help_text }}
                </span>
                <span class="error">
                    {{ field.errors }}
                </span>
                {{ field }}
            </div>

            {% endwith %}
            {% endfor %}
        </div>
    </fieldset>

    <h2><img src="{{ STATIC_URL }}teleforma/images/crfpa_formation.svg"
            onerror="this.onerror=null; this.src='{{ STATIC_URL }}teleforma/images/crfpa_formation.png'"
            alt="votre formation" title="votre formation"
            class="votreformation" />{% if mode_corrector %}Statut{% else %}Votre formation{% endif %} </h2>
    <fieldset class="form_select">
        <div class="column"> {% for fieldname in form.training_fields %}
            {% with field=form|get_item:fieldname %}
            <div class="info_champs">
                <label for="id_{{ field.name }}">
                    {{ field.label }} {% if field.field.required %}<span class="required">*</span>{% endif %}
                </label>
                <span class="helptext">
                    {{ field.help_text }}
                </span>
                <span class="error">
                    {{ field.errors }}
                </span>
                {{ field }}
            </div>
            {% endwith %}
            {% endfor %}
        </div>
    </fieldset>
    <span class="error">* Champs obligatoires</span>

    <div class="submit-panel">
        <div>
            <span class="error">
                {{ form.payment_schedule.errors }}
            </span>
            <label for="id_payment_schedule">{{ form.payment_schedule.label }}</label>
            {{ form.payment_schedule }}
        </div>
        <div>
            <span class="error">
                {{ form.accept.errors }}
            </span>
            {{ form.accept }}
            <span class="error">
            </span>
            <label for="id_accept">J'accepte les <a
                    href="http://crfpa.pre-barreau.com/tarifs/conditions-generales-dinscription">conditions générales
                    d'inscription</a></label>
            <br />
            <span class="error">
                {{ form.promo_code.errors }}
            </span>
            <label for="id_promo_code">{{ form.promo_code.label }}</label>
            {{ form.promo_code }}
            <div class="captcha-div">
                <span class="error">
                    {{ form.captcha.errors }}
                </span>
                {{ form.captcha }}
            </div>
        </div>
        <a href="#" class="component_icon button" onclick="$('#_registerForm').submit();">{% trans "Submit" %}</a>
    </div>

</form>
<script>
    var trainingId;

    function updateTrainings() {
        // filter trainings according to period
        var periodId = $("#id_period").val();
        var platformOnly = $("#id_platform_only").val();
        if (!periodId || !platformOnly) {
            $('#id_training').html('<option value="" selected="selected">---------</option>');
        } else {
            $.ajax({
                url: "/update-training/" + periodId + "/",
                data: {
                    "period_id": periodId,
                    "training_id": trainingId,
                    "platform_only": platformOnly
                },
                dataType: "html",
                type: "post",
                success: function (data) {
                    $('#id_training').html(data);
                }
            });
        }
    }

    function updateFascicule() {
        var platformOnly = $("[name='platform_only']").val() === 'True' ? true : false;
        if (platformOnly)
            $("[name='fascicule']").parent().show();
        else
            $("[name='fascicule']").parent().hide();
    }

    $(document).ready(function () {
        trainingId = $("#id_training").val();
        updateTrainings();
        $("#id_period,  #id_platform_only").change(updateTrainings);
        updateFascicule();
        $("[name='platform_only']").change(updateFascicule);
    });
</script>
<style>
    select {
        width: 222px;
    }
</style>
{% endblock %}