*.py[co]
*~

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
.directory
*.e4p
select2-4.0.5

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Mr Developer
.mr.developer.cfg
