*.py[co]
*~

# Packages
*.egg
*.egg-info
eggs
parts
var
sdist
develop-eggs
node_modules
.installed.cfg
.directory
*.e4p
select2-4.0.5
.env
local_settings.py

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Mr Developer
.mr.developer.cfg

#python venv
py_env
prod.env
