[submodule "bin"]
	path = bin
	url = https://github.com/Ircam-Web/mezzo-bin.git
[submodule "lib/pdfannotator"]
	path = lib/pdfannotator
	url = https://git.pilotsystems.net/probarreau/pdfannotator.git
