[submodule "teleforma/static/teleforma/lib/nvd3"]
	path = teleforma/static/teleforma/lib/nvd3
	url = https://github.com/nvd3-community/nvd3.git
[submodule "teleforma/static/teleforma/lib/d3"]
	path = teleforma/static/teleforma/lib/d3
	url = https://github.com/mbostock/d3.git
[submodule "teleforma/static/teleforma/lib/angular-bootstrap-select"]
	path = teleforma/static/teleforma/lib/angular-bootstrap-select
	url = https://github.com/joaoneto/angular-bootstrap-select.git
