include AUTHORS
include LICENSE
include CHANGELOG
include README.rst
exclude *.cfg
recursive-include example *
recursive-include teleforma/templates *
recursive-include telecampus/static *
recursive-include telecampus/pages *
global-exclude *.pyc
prune dist
prune build

