include AUTHORS
include LICENSE
include CHANGELOG
include README.rst
exclude *.cfg
recursive-include example *
recursive-include teleforma/templates *
recursive-include teleforma/static *
recursive-include teleforma/pages *

global-exclude *.pyc
prune dist
prune build

