include AUTHORS
include LICENSE
include CHANGELOG
include README.rst
exclude *.cfg
recursive-include example *
recursive-include doc *
global-exclude *.pyc
prune dist
prune build
recursive-exclude TeleForma.egg-info *

