setuptools<=39.1.0
django==1.8.*
telemeta==1.7.1
django-pagination==1.0.7
django-postman==3.6.2
django-extensions==2.1.0
django-notes
django-timezones==0.2
django-jqchat
django-registration==0.8
django-extra-views==0.11.0
django-simple-captcha
django-suit
django-nvd3
django-user-agents
html5lib>=1.0
xhtml2pdf==0.2.3
markdown<2.5
django-tinymce==1.5.4
deefuzzer
xlwt
-e .
