django==1.4.19
South==0.8.2   # a supprimer
django-pagination==1.0.7    # a supprimer
django-postman==3.2.0
django-extensions==1.2.1
django-notes==0.2.2    # a supprimer
django-timezones==0.2
crocodoc    # a supprimer
django-registration==0.8
django-extra-views==0.6.5   # a supprimer
django-simple-captcha==0.4.6   # a maj
django-suit==0.2.12     # a maj
django-nvd3==0.8.2
django-user-agents==0.3.0
xhtml2pdf==0.2.5
html5lib==1.1
django-tinymce==1.5.4
sorl-thumbnail==11.12
