{% extends "teleforma/base.html" %}
{% load i18n %}
{% load teleforma_tags %}

{% block head_title %}{% trans "Annals" %} - {{ iej }}{% endblock %}

{% block title %}
{% endblock %}

{% block content %}
<div id="module-set-left" style="width: 20%">

<div class="module">
<h3><a href="{% url 'teleforma-home' %}"><img src="/static/teleforma/images/module_playlist.png" alt="playlists" style="vertical-align:middle" />{% trans "My courses" %}</a></h3>
<div style="background: white;">
<ul>
{% block courses %}
{% for c in all_courses %}
  {% with c.course as course %}
   <li><a href="{% url 'teleforma-annals-course' course.id %}">{{ course.title }}</a></li>
  {% endwith %}
 {% endfor %}
{% endblock courses %}
</ul>
</div>
</div>

{% if user.is_superuser %}
	<div class="module">
	<h3><img src="/static/teleforma/images/module_world.png" alt="IEJ" style="vertical-align:middle" /> {% trans "IEJ" %}</h3>
	<div style="background: white;">
		<ul>
		{% block iej %}
		{% for iej in iejs %}
		<li><a href="{% url 'teleforma-annals-iej' iej.id %}">{{ iej.name|lower|capfirst }}</a></li>
		{% endfor %}
		{% endblock iej %}
		</ul>
	</div>
</div>
{% endif %}

</div>

<div class="desk_messages">

	{% if not object_list.items %}
	<div class="course_title">{% trans "No document" %}</div>
	{% else %}
	{% for course, iejs in object_list.items %}

			<div class="course_title">{{ course.title }} - {% trans "Annals" %}</div>
			<div class="course_content">

			{% for iej, years in iejs.items %}

				<div class="course_subtitle">
					{% if not student %}
					<h3><img src="/static/teleforma/images/item_title.png" width="10px" alt="" /> {% if iej %}{{ iej }}{% else %}National{% endif %}</h3>
					{% endif %}
				</div>

				{% for year, docs in years.items %}
					<table class="listing" width="100%">
					    <tbody>
					        {% for doc in docs %}
					        <tr>
					        <td {% if forloop.first %}class="border-top"{% endif %} width="50%">{% if doc.file %}<a href="{% url 'teleforma-document-view' doc.id %}" target="_blank" title="{% trans "View" %}"><img src="/static//teleforma/images/application-msword.png" style="vertical-align:middle" alt="" />{% endif %} {{ doc.title }}{% if doc.file %}</a>{% endif %}</td>

							<td {% if forloop.first %}class="border-top"{% endif %} width="40%">{{ year }}</td>

					        <td {% if forloop.first %}class="border-top"{% endif %} width="10%" align="center">{% if doc.file %}<a href="{% url 'teleforma-document-download' doc.id %}"><img src="/static/teleforma/images/download.png" style="vertical-align:middle" alt="" title="{% trans "Download" %}" /></a>{% endif %}</td>
					        </tr>
					    	{% endfor %}
					    </tbody>
					</table>
				{% endfor %}
			{% endfor %}
			</div>
		<br/>
	{% endfor %}
  {% endif %}
</div>
{% endblock %}
