{% extends "teleforma/seminar_detail.html" %}
{% load teleforma_tags %}
{% load i18n %}

{% block extra_javascript %}
{% endblock extra_javascript %}

{% block infra_javascript %}
<script type="text/javascript">

$(document).ready(function(){

$('#validate').unbind('click').click(function() {
 json(['{{answer.id}}'],'teleforma.validate_answer');
 $('#validate').unbind('click');
 setTimeout(function() {window.location.href = "{% url teleforma-answers-pending %}";}, 1000);
 });

$('#reject').unbind('click').click(function() {
 json(['{{answer.id}}'],'teleforma.reject_answer');
 $('#reject').unbind('click');
 setTimeout(function() {window.location.href = "{% url teleforma-answers-pending %}";}, 1000);
 });

});
</script>

{% endblock infra_javascript %}

{% block course_content %}

<div class="course_title">{% trans "Answer" %} {% trans "of" %} {{ answer.user.first_name }} {{ answer.user.last_name }} {% trans "on" %} {{ answer.date_submitted }}</div>

<div class="course_content">
  <div class="course_subtitle">
   <h3><img src="{{ STATIC_URL }}telemeta/images/item_title.png" width="10px" alt="" /> {{ answer.question|safe }}</h3>
  </div>
  <div style="text-align: justify;">
    {{ answer.question.question|safe }}
  </div>
</div>

<br />

<div class="course_content">
<div class="course_subtitle">
   <h3><img src="{{ STATIC_URL }}telemeta/images/item_title.png" width="10px" alt="" /> {% trans "Answer" %}{% if answer.question.rank %} n° {{ answer.question.rank }}{% endif %}</h3>
  </div>
  <div style="text-align: justify; padding: .5em;">
    {{ answer.answer|safe }}
  </div>
</div>

<br />

{% if user.is_staff %}
<a id="validate" href="#" class="component_icon button icon_ok">{% trans " validate" %}</a>
<a id="reject" href="#" class="component_icon button icon_delete">{% trans " reject" %}</a>
{% endif %}

{% endblock course_content %}


{% block progress %}
{% endblock progress %}

