{% extends "teleforma/seminar_detail.html" %}
{% load teleforma_tags %}
{% load i18n %}

{% block extra_javascript %}
<script src="{{ STATIC_URL }}teleforma/js/charCount.js" type="text/javascript"></script>
<script type="text/javascript">

</script>
{% endblock extra_javascript %}


{% block course_content %}

<div class="course_content">
  <div class="course_subtitle">
   <h3><img src="{{ STATIC_URL }}telemeta/images/item_title.png" width="10px" alt="" /> {{ answer.question|safe }}</h3>
  </div>
  <div style="text-align: justify;">
    {{ answer.question.question|safe }}
  </div>
</div>

<br />

<div class="course_content">
<div class="course_subtitle">
   <h3><img src="{{ STATIC_URL }}telemeta/images/item_title.png" width="10px" alt="" /> {% trans "Answer" %}</h3>
  </div>
  <div style="text-align: justify;">
    {{ answer.answer|safe }}
  </div>
</div>

<br />

{% if user.is_staff %}
<a id="validate" href="#" class="component_icon button icon_ok" onclick="var f = answerUtils; f.validate('{{answer.id}}')">{% trans " validate" %}</a> 
<a id="reject" href="#" class="component_icon button icon_delete" onclick="var f = answerUtils; f.reject('{{answer.id}}')">{% trans " reject" %}</a>
{% endif %}

{% endblock course_content %}


{% block progress %}
{% endblock progress %}

