{% extends "teleforma/seminar_detail.html" %}
{% load teleforma_tags %}
{% load i18n %}

{% block extra_javascript %}
<script src="{{ STATIC_URL }}teleforma/js/charCount.js" type="text/javascript"></script>
<script type="text/javascript">

$(document).ready(function(){
  $('#id_answer').live("paste",function(e) {
      e.preventDefault();
      new Messi(gettext('Sorry, it is not allowed to paste text here.'), {buttons: [{id: 0, label: gettext('OK'), val: 'X'}], modal: true});
  });
});

$(document).ready(function(){   
    //default usage
    $("#id_answer").charCount({
        necessary: {{question.min_nchar}},            
        counterText: gettext('Characters')+' : ',
        });
    });

$(document).ready(function(){
    var b1 = $('#submit_button');
    var c = $('#counter')
    b1.unbind('click').click(function() {
        $(window).unbind('beforeunload');
        if (c.hasClass('deceed')){
          new Messi(gettext('You must reach the required number of characters.'), {buttons: [{id: 0, label: gettext('OK'), val: 'X'}], modal: true});
        }
        if (c.hasClass('exceed')){
            $('#id_status').val("3"); 
            $('#_AnswerForm').submit(); 
        }
      });
    
    var b2 = $('#save_button');
    b2.unbind('click').click(function() {
      $(window).unbind('beforeunload');
      $('#_AnswerForm').submit();
    });

    {% if status != 3 %}
    $(window).bind('beforeunload', function(){
      return "{% trans "You have NOT save your work!" %}";
    });
    {% endif  %}

    $('#seminars').css({'max-height': '200px'});
});

</script>
{% endblock extra_javascript %}


{% block extra_stylesheets %}{% endblock %}

{% block submodules %}
<div class="module">
  <h3><img src="{{STATIC_URL}}telemeta/images/module_playlist.png" alt="status" style="vertical-align:middle" /> {% trans "My steps" %}</h3>
 <div id="index">
  {% include "teleforma/inc/steps.html" %}
 </div>
</div>
{% endblock submodules %}

{% block course_content %}

<div class="course_content">
  <div class="course_subtitle">
   <h3><img src="{{ STATIC_URL }}telemeta/images/item_title.png" width="10px" alt="" /> {% trans "Step" %} 4 : {% trans "answer to this question" %} ({{question.min_nchar}} {% trans "characters" %} {% trans "minimum" %})</h3>
  </div>
  <div style="text-align: justify; width: 100%;">
    {{ question.question|safe }}
  </div>
</div>
  
<br />
<form method="post" id="_AnswerForm" action="">{% csrf_token %}
{{ form }}
</form>

{% if status != 3 %}
<br />
<a href="#" id="save_button" class="component_icon button icon_save">{% trans "Save" %}</a>
<a href="#" id="submit_button" class="component_icon button icon_ok">{% trans "Submit it" %}</a>
{% endif %}

{% endblock course_content %}


{% block progress %}
<div class="module">
  <h3><img src="{{STATIC_URL}}teleforma/images/status.png" alt="status" style="vertical-align:middle" /> {% trans "Progressions" %}</h3>
 <div>
 <div class="progress">
  <ul>
    <li>{% trans "General" %} : {{ total_progress }}%
     <div id="progressbar-general"></div>
    </li>
    <li>{% trans "Seminar" %} : {{ seminar_progress }}%
     <div id="progressbar-seminar"></div>
    </li>
    <li>{% trans "Answer" %} : <span id="answer-progress">0</span>%
     <div id="progressbar-answer"></div>
    </li>

  </ul>

 </div>
</div>
</div>
{% endblock progress %}


{% block index %}
{% endblock index %}
