{% extends "teleforma/course_media.html" %}
{% load telemeta_utils %}
{% load i18n %}


{% block course %}
<div class="course_media">

<div class="course_title">{{ document.title }}{% if document.description %} - {{ document.description }}{% endif %}
</div>

<div class="media">



</div>

{% block general_info %}
<div class="course_content" id="media_infos">
<dl class="listing">
<dt>{% trans "Title" %}</dt><dd>{{ conference.course.title }}</dd>
<dt>{% trans "Session" %}</dt><dd>{{ conference.session }}</dd>
<dt>{% trans "Professor" %}</dt><dd><a href="{% url telemeta-profile-detail conference.professor.user.username %}" target="_blank">{{ conference.professor }}</a></dd>
<dt>{% trans "Begin" %}</dt><dd>{{ conference.date_begin }}</dd>
<dt>{% trans "End" %}</dt><dd>{{ conference.date_end }}</dd>
<dt>{% trans "Live" %}</dt><dd>{{ conference.streaming }}</dd>
</dl>
</div>
{% endblock general_info %}

</div>
{% endblock course %}

{% block chat %}
{% if room %}
<div id="module-set" style="width: 22%">
<div class="module">
<h3><img src="{% url telemeta-images "vox_wh.png" %}" alt="rss" style="vertical-align:middle" />{% trans "Local tweeter" %}</h3>

<div style="background: white;">
<div id="chatwindow"><span id="loading">Loading...</span></div>
<form id="chatform">{% csrf_token %}
<label for="msg"></label>
<input type="text" id="msg" size="16" />
<input type="submit" value="{% trans "Send" %}" />
</form>
<!-- <script type="text/javascript">document.getElementById("msg").focus();</script> -->
</div>
</div>
</div>
{% endif %}
{% endblock chat %}
