{% extends "teleforma/course_media.html" %}
{% load telemeta_utils %}
{% load teleforma_tags %}
{% load i18n %}

{% block module-action %}
<script type="text/javascript">
    var conferenceUtils = {
        stop : function(id){
            json([id],'teleforma.conference_stop',function(){
                location.href = '{% url teleforma-desk %}';});
        }}

    jQuery(window).ready(function(){
        var a = jQuery('#action_red');
        var f = conferenceUtils;
        a.unbind('click').click(function(){
            f.stop({{conference.id}});return false;});
        });
</script>

{% get_telecaster as telecaster %}
{%  if telecaster %}
<div class="module_action">
<a href="#" class="component_icon button" id="action_red">{% trans "S T O P" %}</a>
</div>
{% endif %}

{% endblock module-action %}

{% block course %}
<div class="course_media">

<div class="course_title">
    <div style="float: right; font-size: 0.9em;">
        <a href="{% url teleforma-conference-detail conference.id %}" class="component_icon button icon_clap">&nbsp;{% trans "Video" %}</a>
    </div>

{{ course.title }}{% if course.description %} - {{ course.description }}{% endif %} - {{ conference.session }} - {{ conference.professor }}
</div>

<div class="media">
{% if access_error %}
  <p>{{ access_error }}</p>
  <p>{{ message }}</p>

{% else %}

{% for livestream in livestreams %}
{% if "mp3" == livestream.stream_type %}
<div class="audio" style="margin-top:1em;">
<audio controls autoplay preload="auto">
<!-- Hello Chrome and Firefox (and Opera?) -->
<source src="{{ livestream.url|set_host:HOST }}" type="audio/mpeg" />
</audio>
</div>
{% endif %}
{% endfor %}

{% endif %}
</div>

{% block general_info %}
<div class="course_content" id="media_infos">
<dl class="listing">
<dt>{% trans "Title" %}</dt><dd>{{ conference.course.title }}</dd>
<dt>{% trans "Professor" %}</dt><dd><a href="{% url telemeta-profile-detail conference.professor.user.username %}" target="_blank">{{ conference.professor }}</a></dd>
<dt>{% trans "Session" %}</dt><dd>{{ conference.session }}</dd>
<dt>{% trans "Room" %}</dt><dd>{{ conference.room }}</dd>
<dt>{% trans "Begin" %}</dt><dd>{{ conference.date_begin }}</dd>
<dt>{% trans "End" %}</dt><dd>{{ conference.date_end|yes_no }}</dd>
<dt>{% trans "Live" %}</dt><dd>{{ conference.streaming|yes_no }}</dd>
</dl>
</div>
{% endblock general_info %}

</div>
{% endblock course %}

{% block chat %}
{% if room %}
{% with "General tweeter" as title %}
{% include "teleforma/inc/chat_room.html" %}
{% endwith %}
{% endif %}
{% endblock chat %}
