{% extends "teleforma/courses.html" %}
{% load i18n %}

{% block extra_javascript %}
<script type="text/javascript">
$(document).ready(function(){
    InitChatWindow("{% url jqchat_ajax room.id %}", null);
    });
</script>
{% endblock extra_javascript %}

{% block courses %}
{% for c in all_courses %}
  {% with c.course as course %}
   <li><a href="{% url teleforma-course-detail course.id %}">{{ course.title }}</a></li>
  {% endwith %}
 {% endfor %}
{% endblock courses %}

{% block course %}
<div class="desk_center">
    {% for c in courses %}
     {% with c.course as course %}
      {% for type in c.types %}
      <div class="course">
        <div class="course_title">{{ course.title }} - {{ type }}{% if course.description %} - {{ course.description }}{% endif %}
        </div>

        {% block conference %}
         {% include "teleforma/inc/conference_list.html" %}
        {% endblock %}

        {% block media %}
         {% include "teleforma/inc/media_list.html" %}
        {% endblock %}

        {% block document %}
         {% with forloop.counter as type_counter %}
          {% include "teleforma/inc/document_list.html" %}
         {% endwith %}
        {% endblock %}

        </div>
      {% endfor %}
     {% endwith %}
    {% endfor %}
</div>
{% endblock course %}

{% block chat %}
{% if room %}
{% with "Local tweeter" as title %}
{% include "teleforma/inc/chat_room.html" %}
{% endwith %}
{% endif %}
{% endblock chat %}