{% extends "teleforma/course_media.html" %}
{% load telemeta_utils %}
{% load teleforma_tags %}
{% load i18n %}

{% block extra_javascript %}

<script type="text/javascript">
$(document).ready(function(){
    InitChatWindow("{% url jqchat_ajax room.id %}", null);
    });
</script>

<script type="text/javascript" src="{{ STATIC_URL }}teleforma/js/pdf-min.js"></script>

<script type="text/javascript">
    PDFJS.workerSrc = '{% url telemeta-js "pdf-min.js" %}';
</script>

<script type="text/javascript">
'use strict';

//
// Fetch the PDF document from the URL using promices
//
PDFJS.getDocument('{% url teleforma-document-download document.id %}').then(function(pdf) {
  // Using promise to fetch the page
  pdf.getPage(1).then(function(page) {
    var scale = 1.5;
    var viewport = page.getViewport(scale);

    //
    // Prepare canvas using PDF page dimensions
    //
    var canvas = document.getElementById('the-canvas');
    var context = canvas.getContext('2d');
    canvas.height = viewport.height;
    canvas.width = viewport.width;

    //
    // Render PDF page into canvas context
    //
    var renderContext = {
      canvasContext: context,
      viewport: viewport
    };
    page.render(renderContext);
  });
});
</script>

{% endblock extra_javascript %}

{% block course %}
<div class="course_media">

<div class="course_title">{{ document.course.title }}{% for type in document.course_type.all%} - {{ type }}{% endfor %}{% if document.type %} - {{ document.type }}{% endif %}<br />
</div>

{% if access_error %}
  <p>{{ access_error }}</p>
  <p>{{ message }}</p>

{% else %}
<div class="media">
<canvas id="the-canvas" style="border:1px solid black;"/>
</div>
{% endif %}

{% block general_info %}
<div class="course_content" id="media_infos">
<dl class="listing">
<dt>{% trans "Title" %}</dt><dd>{{ document.title }}</dd>
</dl>
</div>
{% endblock general_info %}

</div>
{% endblock course %}

{% block chat %}
{% if room %}
{% with "Local tweeter" as title %}
{% include "teleforma/inc/chat_room.html" %}
{% endwith %}
{% endif %}
{% endblock chat %}