{% extends "teleforma/course_media.html" %}
{% load telemeta_utils %}
{% load teleforma_tags %}
{% load i18n %}

{% block module-action %}
{% get_telecaster as telecaster %}
{%  if telecaster %}
<script type="text/javascript">
    var conferenceUtils = {
        stop : function(id){
            json([id],'teleforma.stop_conference',function(){
                location.href = '{% url teleforma-conference-record %}';
                }
                );
        }}

    jQuery(window).ready(function(){
        var a = jQuery('#action_red');
        var f = conferenceUtils;
        a.unbind('click').click(function(){
            f.stop('{{conference.public_id}}');return false;});
        });
</script>

<div class="module_action">
<a href="#" class="component_icon button" id="action_red">{% trans "S T O P" %}</a>
</div>
{% endif %}
{% endblock module-action %}

{% block course %}
<div class="course_media">

<div class="course_title">
    <div style="float: right; font-size: 0.9em;">
        <a href="{% url teleforma-conference-audio conference.id %}" class="component_icon button icon_speaker">&nbsp;{% trans "Audio" %}</a>
    </div>

<a href="{% url teleforma-course-detail course.id %}" style="color: #000;">{{ course.title }}</a>{% if type.name != "None" %} - {{ type }}{% endif %}{% if conference.session %} - {% trans "Session" %} {{ conference.session }}{% endif %}

</div>

<div class="media">
{% if access_error %}
  <p>{{ access_error }}</p>
  <p>{{ message }}</p>

{% else %}

{% for livestream in livestreams %}
{% if "webm" == livestream.stream_type %}
<div class="video">
<video width="640" height="360" controls autoplay preload="auto">
<!-- Hello Chrome and Firefox (and Opera?) -->
<source src="{{ livestream.url|set_host:HOST }}" type="video/webm" />
</video>
</div>
{% endif %}
{% endfor %}

{% endif %}
</div>

{% block general_info %}
<div class="course_content" id="media_infos">
<dl class="listing">

{% if conference.professor %}
<dt>{% trans "Course" %}</dt><dd><a href="{% url teleforma-course-detail course.id %}">{{ conference.course.title }} - {{ conference.course_type }}</a></dd>
<dt>{% trans "Session" %}</dt><dd>{{ conference.session }}</dd>
<dt>{% trans "Professor" %}</dt>
    <dd><a href="{% url telemeta-profile-detail conference.professor.user.username %}" target="_blank">{{ conference.professor }}</a></dd>
{% endif %}
{% if conference.comment %}<dt>{% trans "Comment" %}</dt><dd>{{ conference.comment }}</dd>{% endif %}
<dt>{% trans "Begin date" %}</dt><dd>{{ conference.date_begin }}</dd>
{% if conference.date_end %}<dt>{% trans "End date" %}</dt><dd>{{ conference.date_end|yes_no }}</dd>{% endif %}
<dt>{% trans "Live" %}</dt><dd>{% trans "Yes" %}</dd>
{% if conference.room %}<dt>{% trans "Room" %}</dt><dd>{{ conference.room }}</dd>{% endif %}
{% if user.is_staff or user.is_superuser %}
<dt>{% trans "Conference ID" %}</dt><dd>{{ conference.public_id }}</dd>
{% endif %}

</dl>
</div>
{% endblock general_info %}

</div>
{% endblock course %}

{% block chat %}
{% if room %}
{% with "General tweeter" as title %}
{% include "teleforma/inc/chat_room.html" %}
{% endwith %}
{% endif %}
{% endblock chat %}
