{% extends "teleforma/courses.html" %}
{% load i18n %}

{% block courses %}
{% for course in courses %}
<li><a href="{% url teleforma-course-detail course.id %}">{{ course.title }}</a></li>
{% endfor %}
{% endblock courses %}

{% block course %}
<div class="desk_course">
<div class="course">

<div class="course_title">{{ course.title }}{% if course.description %} - {{ course.description }}{% endif %}
</div>

{% if course.conference.all or course.document.all or course.media.all %}

{% block document %}
{% with course as course and %}
{% include "teleforma/inc/document_list.html" %}
{% endwith %}
{% endblock %}

{% block media %}
{% with course as course and %}
{% include "teleforma/inc/media_list.html" %}
{% endwith %}
{% endblock %}

{% block conference %}
{% with course as course and %}
{% include "teleforma/inc/conference_list.html" %}
{% endwith %}
{% endblock %}

{% else %}
<div class="course_content">
<h2>{% trans "No document" %}</h2>
</div>
{% endif %}

</div>
</div>
{% endblock course %}
