{% extends "teleforma/course_media.html" %}
{% load telemeta_utils %}
{% load teleforma_tags %}
{% load i18n %}

{% block extra_javascript %}
<script type="text/javascript">

jQuery(window).ready(function(){
    var a = jQuery('#action_red');
    var f = jQuery('#_StationForm');
    a.unbind('click').click(function(){f.submit();return false;});
    });
</script>
{% endblock extra_javascript %}

{% block module-action %}
{% endblock module-action %}

{% block course %}
<div class="course_media">

<div class="course_title">{% trans "New conference" %}</div>

<div class="media">
{% block video %}
<div class="video">
<video controls autoplay preload="auto" width="640" height="360">
<source src="http://{{ HOST }}:8080/consume/safe" type="video/webm">
</video>
</div>
{% endblock video %}
</div>

{% block general_info %}

<div class="course_content" id="media_infos">
<form enctype="multipart/form-data" id="_StationForm" method="post" action="" name="formulaire">{% csrf_token %}
<table class="conference_form">
    <tr><td colspan="2">{% for error in form.non_field_errors %}<li class="error">{{ error }}</li>{% endfor %}</td></tr>
    {% for field in form %}
    <tr>
        {% if field.errors %}<tr><td class="warning">{{ field.errors }}</td></tr>{% endif %}
        {% if not field.html_name in hidden_fields %}
         <td>{% trans field.label_tag %}:</td><td>{{ field }}</td>
        {% else %}
         <td>{{ field.label_tag.as_hidden }}</td><td>{{ field.as_hidden }}</td>
        {% endif %}
    </tr>
    {% endfor %}
    <tr><td>{% trans "Action" %}:</td>
    <td><a href="#" class="component_icon button" id="action_red">{% trans "Record and stream" %}</a></td>
    </tr>
</table>
</form>
<br />
</div>
{% endblock general_info %}

</div>
{% endblock course %}

