{% extends "telemeta/base.html" %}
{% load i18n %}


{% block extra_javascript %}

<script type="text/javascript" src="{{ STATIC_URL }}jqchat/jqchat.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    InitChatWindow("{% url jqchat_ajax room.id %}", null);
    });
</script>

{% endblock extra_javascript %}


{% block content %}

<div id="module-set-left" style="width: 20%">

<div class="module">
<h3><a href="{% url teleforma-desk %}"><img src="{% url telemeta-images "module_playlist.png" %}" alt="playlists" style="vertical-align:middle" />{% trans "My courses" %}</a></h3>
<div style="background: white;">
<ul>
{% block courses %}
{% for course in courses %}
<li><a href="{% url teleforma-course-detail course.id %}">{{ course.title}} {{ course.type }}</a></li>
{% endfor %}
{% endblock courses %}
</ul>
</div>
</div>

{% block notes %}
<div class="module">
<h3><img src="{% url telemeta-images "module_playlist.png" %}" alt="playlists" style="vertical-align:middle" />{% trans "My notes" %}</h3>
<div style="background: white;">
<ul>
{% for note in notes %}
<li>{{ note.content }}</li>
{% endfor %}
</ul>
</div>
</div>
<div class="module_action">
<a href="#" class="component_icon button" id="action_violet">{% trans "New note" %}</a>
</div>
{% endblock notes %}

</div>


{% block course %}
<div class="desk_center">
    {% for course in object_list %}
      <div class="course">
        <div class="course_title">{{ course.title }} - {{ course.type }}{% if course.description %} - {{ course.description }}{% endif %}
        </div>

        {% if course.conference.all or course.document.all or course.media.all %}

        {% block document %}
        {% with course as course %}
        {% include "teleforma/inc/document_list.html" %}
        {% endwith %}
        {% endblock %}

        {% block media %}
        {% with course as course %}
        {% include "teleforma/inc/media_list.html" %}
        {% endwith %}
        {% endblock %}

        {% block conference %}
        {% with course as course %}
        {% include "teleforma/inc/conference_list.html" %}
        {% endwith %}
        {% endblock %}
        {% else %}
        <div class="course_content">
         <p>{% trans "No document" %}</p>
        </div>
        {% endif %}
      </div>
    {% endfor %}

</div>
{% endblock course %}
</div>

{% block chat %}
{% if room %}
<div id="module-set" style="width: 22%">
{% with "General tweeter" as title %}
{% include "teleforma/inc/chat_room.html" %}
{% endwith %}
</div>
{% endif %}
{% endblock chat %}

{% endblock content %}


