{% extends "teleforma/base.html" %}
{% load telemeta_utils %}
{% load teleforma_tags %}
{% load i18n %}

{% block content %}

{% block modules %}
<div id="module-set-left" style="width: 20%">
<div class="module">
<h3><img src="{{ STATIC_URL }}telemeta/images/module_playlist.png" alt="index" style="vertical-align:middle" />{% trans "Help" %}</h3>
<div style="background: white;">
<ul>
   <li><a href="#recommandations">Recommandations</a></li>
   <li><a href="#demonstrations">Démonstrations</a></li>
   <li><a href="#faq">FAQ</a></li>
   <li><a href="#support">Support</a></li>
</ul>
</div>
</div>
</div>
{% endblock %}

<div class="desk_messages">
{{ page_content|render_flatpage }}
</div>

{% endblock %}

