{% extends "teleforma/seminar_media_video.html" %}
{% load telemeta_utils %}
{% load teleforma_tags %}
{% load i18n %}

{% block module-action %}
{% for media in media_package.audio.all %}
    {% if media.item.file and media.is_published and media.item.file.path|in_download_formats %}
     <div class="module_action"> 
     <a href="{{ MEDIA_URL }}{{ media.item.file }}" class="component_icon button" id="action_red"><img src="{{STATIC_URL}}teleforma/images/download_media.png" alt="" style="vertical-align:middle" />&nbsp;{% trans "Download" %}</a>
     </div>
    {% endif %}
{% endfor %}
{% endblock module-action %}

{% block course %}
<div class="course_media">

<div class="course_title">
    <div style="float: right; font-size: 0.9em;">
        
        <a href="{% url teleforma-media-video seminar.id media_package.id %}" class="component_icon button icon_speaker">&nbsp;{% trans "Video" %}</a>
        
        {% if user.is_staff %}
        <a id="publish" href="#" class="{% if media_package.is_published %}component_icon button icon_ok{% else %}component_icon button icon_delete{% endif %}">{% if media_package.is_published %}{% trans " published" %}{% else %}{% trans " rejected" %}{% endif %}</a>
        {% endif %}
    </div>

    <a href="{% url teleforma-seminar-detail seminar.id %}" style="color: #000;">{{ seminar.title }}</a>

</div>

{% if access_error %}
  <p>{{ access_error }}</p>
  <p>{{ message }}</p>

{% else %}
<div class="media">

<div style="margin-top:1em;">
{% with media_package.audio.all.0 as media %}
{% if media.item.related.all %}
 {% for related in media.item.related.all %}
  {% if related.title == "preview" %}
   <img src="{{ MEDIA_URL }}{{ related.file }}" width="300px" alt="" />
  {% endif %}
 {% endfor %}
{% else %}
 snapshot
{% endif %}
{% endwith %}
</div>

<div class="audio">
<audio controls preload="auto">
    {% for media in media_package.audio.all|free_first %}
        <source src="{{ MEDIA_URL }}{{ media.item.file }}" type="{{ media.mime_type }}" />
    {% endfor %}
</audio>
</div>

</div>
{% endif %}

{% block general_info %}
<div class="course_content" id="media_infos">
<dl class="listing">


<dt>{% trans "Seminar" %}</dt><dd><a href="{% url teleforma-seminar-detail seminar.id %}">{{ seminar.title }} - {{ seminar.sub_title }} - {{ media_package.rank }}</a></dd>

{% with seminar.professor.all as professors %}
  {% if professors %}
    <dt>{% if professors.count > 1 %}{% trans "Professors" %}{% else %}{% trans "Professor" %}{% endif %}</dt>
    <dd>{% for professor in professors %}{{ professor }}{% if not forloop.last %},{% endif %} {% endfor %}</a></dd>
  {% endif %}
{% endwith %}

{% if user.is_staff or user.is_superuser %}
<dt>{% trans "Mime type" %}</dt>
{% with media_package.audio.all as mimetypes %}
<dd>{% for media in mimetypes %}{{ media.mime_type }}{% if not forloop.last %},{% endif %} {% endfor %}</dd>
{% endwith %}
<dt>{% trans "Date added" %}</dt><dd>{{ media_package.date_added }}</dd>
<dt>{% trans "Date modified" %}</dt><dd>{{ media_package.date_modified }}</dd>
<dt>{% trans "Media package ID" %}</dt><dd>{{ media_package.id }}</dd>
{% endif %}


</dl>
</div>
{% endblock general_info %}

</div>
{% endblock course %}

{% block chat %}
{% endblock chat %}

{% block index %}
<div class="module">
  <h3><img src="{{STATIC_URL}}telemeta/images/module_playlist.png" alt="status" style="vertical-align:middle" /> {% trans "Steps" %}</h3>
 <div id="index">
  {% include "teleforma/inc/steps.html" %}
 </div>
</div>
{% endblock index %}
