{% extends "teleforma/seminars.html" %}
{% load i18n %}



{% block course %}
<div class="desk_center">
    <div class="course">
        
        <div class="course_title">
         <a href="{% url teleforma-seminar-detail seminar.id %}" style="color: #000;">{{ seminar.title }}</a>
        </div>

        <div class="course_description">
        {% if seminar.description %}{{ seminar.description }}{% endif %}
        </div>

        <div class="course_step">
          {% trans "Read the following documents" %}
        </div>
          {% with seminar.docs_1 as docs %}
           {% include "teleforma/inc/document_simple_list.html" %}
          {% endwith %}

<!--
        <div class="course_step">
          {% trans "Play the following media" %}
        </div>
          {% with seminar.media as medias %}
           {% include "teleforma/inc/media_package_list.html" %}
          {% endwith %}
-->
        <div class="course_step">
          {% trans "Read the following documents" %}
        </div>
          {% with seminar.docs_2 as docs %}
           {% include "teleforma/inc/document_simple_list.html" %}
          {% endwith %}
          
        <div class="course_step">
          {% trans "Respond to the following questions" %}
        </div>
          {% with seminar.question as questions %}
           {% include "teleforma/inc/question_list.html" %}
          {% endwith %}

         {% if validated %}
         <div class="course_step">
          {% trans "Read the following documents" %}
         </div>
          {% with seminar.docs_correct as docs %}
           {% include "teleforma/inc/document_simple_list.html" %}
          {% endwith %}
        {% endif %}

      
      </div>
</div>
{% endblock course %}

