{% extends "telemeta/base.html" %}
{% load teleforma_tags %}
{% load telemeta_utils %}
{% load i18n %}

{% block extra_javascript %}
<script type="text/javascript">
$(function () {
    $('div.description').expander({
        slicePoint: 60,
        expandText: 'Lire plus',
        userCollapseText: 'Cacher le texte',
    });
});
</script>
{% endblock extra_javascript %}

{% block infra_javascript %}
<script type="text/javascript">
$(function() {
        $('#progressbar-general').progressbar({value: {{ total_progress }}});
        var color = '#' + rainbow.colourAt({{total_progress}});
        $('#progressbar-general div').css({"background": color});
    });
</script>
{% endblock infra_javascript %}

{% block content %}

<div id="module-set-left" style="width: 18%">

{% block modules %}
<div class="module">

<h3><a href="{% url teleforma-desk %}"><img src="{{ STATIC_URL }}telemeta/images/module_playlist.png" alt="playlists" style="vertical-align:middle" />{% trans "My seminars" %}</a></h3>
<div style="background: white;">
<ul>
{% block courses %}

{% for seminar in all_seminars %}
   <li><a href="{% url teleforma-seminar-detail seminar.id %}">{{ seminar.title }}</a></li>
 {% endfor %}
{% endblock courses %}
</ul>
</div>
</div>

{% block module-action %}
{% get_telecaster as telecaster %}
{%  if telecaster %}
<div class="module_action">
<a href="{% url teleforma-conference-record %}" class="component_icon button" id="action_red">{% trans "New conference" %}</a>
</div>
{% endif %}
{% endblock module-action %}

{% block notes %}
<!--<div class="module">
<h3><img src="{{ STATIC_URL }}telemeta/images/view-pim-notes.png" alt="playlists" style="vertical-align:middle" />{% trans "My notes" %}</h3>
<div style="background: white;">
<ul>
{% for note in notes %}
<li>{{ note.content }}</li>
{% endfor %}
</ul>
</div>
</div>
<div class="module_action">
<a href="#" class="component_icon button" id="action_violet">{% trans "New note" %}</a>
</div>-->
{% endblock notes %}

</div>
{% endblock modules %}


{% block course %}

<div class="desk_center">
    {% for seminar in object_list %}
      
      <div class="course">

        <div class="course_title">
         <a href="{% url teleforma-seminar-detail seminar.id %}">{{ seminar.title }}</a>
         <div style="float: right; font-size: 0.9em;">
          {% if seminar|progress:user == 100 %}
          <img src="{{ STATIC_URL }}telemeta/images/ok.png" title="{% trans "validated" %}" alt="{% trans "validated" %}"/>
          {% else %}
          {{ seminar|progress:user }}%
          {% endif %}
          </div>
        </div>

        <div class="course_content">
            <div class="course_subtitle">
            </div>
            <div class="course_description">
              <dl class="listing" style="font-size: 1.1em;">
              {% if seminar.keywords.all %}<dt>{% trans "keywords" %}</dt><dd>{% for kw in seminar.keywords.all %}{{ kw }}, {% endfor %}</dd>{% endif %}
              <dt>{% trans "level" %}</dt><dd>{{ seminar.level }}</dd>
              <dt>{% trans "public concerned" %}</dt><dd>{{ seminar.concerned }}</dd>
              <dt>{% trans "duration" %}</dt><dd>{{ seminar.duration }}</dd>
              {% if seminar.description %}
              <dt>{% trans "description" %}</dt><dd><div class="description">{{ seminar.description|safe }}</div></dd>
              {% endif %}
            </dl>
            </div>
        </div>
      </div>
   {% endfor %}
</div>

{% endblock course %}

<div id="module-set" style="width: 22%">

{% block progress %}
<div class="module">
  <h3><img src="{{STATIC_URL}}teleforma/images/status.png" alt="status" style="vertical-align:middle" /> {% trans "Progressions" %}</h3>
 <div class="progress">
  <ul>
    <li>{% trans "General" %} : {{ total_progress }}%
     <div id="progressbar-general"></div>
    </li>
  </ul>
 </div>
</div>
{% endblock progress %}

{% block status %}
{% get_telecaster as telecaster %}
{%  if telecaster %}
<div class="module">
 <h3><img src="{{STATIC_URL}}teleforma/images/status.png" alt="status" style="vertical-align:middle" /> {% trans "Status" %}</h3>
 <div id="server_status_table_wrapper" class="status"></div>
</div>

<script type="text/javascript">
server_status_callback();
</script>
{% endif %}
{% endblock status %}

{% block index %}
{% endblock index %}

</div>

{% endblock content %}
