{% extends "teleforma/seminars.html" %}
{% load i18n %}



{% block course %}
<div class="desk_center">
      <div class="course">
        <div class="course_title">
         <a href="{% url teleforma-seminar-detail seminar.id %}" style="color: #000;">{{ seminar.title }}{% if seminar.description %} - {{ seminar.description }}{% endif %}</a>
        </div>

        {% for step in seminar.steps %}

          {% if step.element_type == 'document_simple' %}
           {% include "teleforma/inc/document_simple_list.html" %}
          
          {% elif step.element_type == 'media_package' %}
           {% include "teleforma/inc/media_package_list.html" %

          {% elif step.element_type == 'question' %}
            {% include "teleforma/inc/question_list.html" %}
         
          {% endif %}
        {% endfor %}
      
      </div>
</div>
{% endblock course %}

