<!DOCTYPE html>
{% load i18n %}
{% load telemeta_utils %}
{% load teleforma_tags %}

{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>

<head>
<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />

<title>{%block head_title %}{% description %} - {% trans "Testimonial" %}{% endblock %}</title>

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}teleforma/css/teleforma_pdf.css" />
{% endblock %}

{% block extra_stylesheets %}{% endblock %}

</head>

<body>
{% block layout %}
<div id="layout">

<div id="header">
    <span style="color: yellow; font-weight: bold;">&gt;</span> {% trans "Knowledge validation testimonial" %}
</div>

<div id="content">

   <table class="table1">
      <tr><td class="bold">{% trans "Last name" %} : </td><td>{{ testimonial.user.last_name|upper }}</td></tr>
      <tr><td class="bold">{% trans "First name" %} : </td><td>{{ testimonial.user.first_name|upper }}</td></tr>
      <tr><td class="bold">{% trans "Address" %} : </td><td>{{ testimonial.user.auditor.all.0.address }} {{ testimonial.user.auditor.all.0.postal_code }} {{ testimonial.user.auditor.all.0.city }}</td></tr>
      <tr><td class="bold">{% trans "Subject" %} : </td><td>{{ seminar.title }}</td></tr>
      <tr><td class="bold">{% trans "Course" %} : </td><td>{{ seminar.course }}</td></tr>
      <tr><td class="bold">{% trans "Duration" %} : </td><td>{{ seminar.duration|hours }} {% trans "hours" %}</td></tr>
      <tr><td class="bold">{% trans "Validation mode of the training" %} : </td><td>{% trans "Reply to questions" %}</td></tr>
      <tr><td class="bold">{% trans "Training begin date" %} : </td><td>{{ first_revision.date|date:'j F Y' }}</td></tr>
      <tr><td class="bold">{% trans "Knowledge validation dates and terms" %} : </td><td></td></tr>
      {% for answer in answers %}
        <tr style="padding-top: -2px;"><td style="padding-left:10px;">{% trans "Answer" %} n°{{ answer.question.rank }} : </td><td>{{ answer.date_validated|date:'j F Y' }}</td></tr>
        <tr style="padding-top: -2px;"><td style="padding-left:20px;">{% trans "Required characters" %} : </td><td>{{ answer.question.min_nchar }}</td></tr>
        <tr style="padding-top: -2px;"><td style="padding-left:20px;">{% trans "Submitted characters" %} : </td><td>{{ answer.answer|length }}</td></tr>
      {% endfor %}
      <tr><td class="bold">{% trans "Training end date" %} : </td><td>{% if testimonial.date_modified %}{{ testimonial.date_modified|date:'j F Y' }}{% else %}{{ testimonial.date_added|date:'j F Y' }}{% endif %}</td></tr>
    </table>

    <table class="table2">
      <tr><td>
        {{ seminar.course.department.address|safe }}
      </td>
      <td>
        <img src="{{ seminar.course.department.signature.url }}" title="Pro-Barreau signature" alt="Pro-Barreau signature" />
      </td></tr>
    </table>

</div>

{% block footer %}
<div id="footer">
    Copyright &copy; {% current_year %} {{ seminar.course.department }}
 </div>
{% endblock %}

</div>
{% endblock layout %}

</body>
</html>
