{% extends "telemeta/base.html" %}
{% load i18n %}
{% load telemeta_utils %}
{% load teleforma_tags %}
{% load pagination_tags %}

{% block head_title %}{% trans "Testimonials" %} - {{ block.super }}{% endblock %}

{% block title %}
{% endblock %}


{% block infra_javascript %}
{% endblock infra_javascript %}

{% block content %}

<div id="module-set-left" style="width: 18%">

{% block modules %}
<div class="module">

<h3><a href="{% url teleforma-desk %}"><img src="{{ STATIC_URL }}telemeta/images/module_playlist.png" alt="playlists" style="vertical-align:middle" />{% trans "My seminars" %}</a></h3>
<div style="background: white;">
<ul>
{% block courses %}
{% for seminar in all_seminars %}
   <li><a href="{% url teleforma-seminar-detail seminar.id %}">{{ seminar.title }}</a></li>
 {% endfor %}
{% endblock courses %}
</ul>
</div>
</div>

</div>
{% endblock modules %}

<div class="desk_messages">

{% if user.is_staff %}
<div style="float:right;">
</div>
{% endif %}

<div class="course_title">{% trans "Testimonials" %}</div>
<br />

{% if object_list %}

{% autopaginate object_list %}
{% paginate %}

<div id="users">
  <table class="listing" width="100%">
   <thead>
   <tr><th>{% trans "Last Name"%}</th>
    <th>{% trans "First Name"%}</th>
    <th>{% trans "Seminar"%}</th>
    <th>{% trans "Date submitted"%}</th>
    <th>{% trans "Download"%}</th>
    </tr>
    </thead>
    <tbody id="spacing">
    {% for testimonial in object_list %}
    <tr>
     <td><a href="{% url teleforma-profile-detail testimonial.user.username %}">{{ testimonial.user.last_name }}</a></td>
     <td><a href="{% url teleforma-profile-detail testimonial.user.username %}">{{ testimonial.user.first_name }}</a></td>
     <td>{% if testimonial.seminar %}{{ testimonial.seminar.title }}{% else %}{{ testimonial.title }}{% endif %}</td>
     <td>{{ testimonial.date_added }}</td>
     <td><a href="{% url teleforma-seminar-testimonial-download testimonial.seminar.id %}?format=pdf"><img src="{{ STATIC_URL }}teleforma/images/download.png" style="vertical-align:middle" alt="" title="{% trans "Download" %}" /></a></td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
 {% else %}
    <p class="help">{% trans "No testimonial" %}</p>
 {% endif %}
</div>
{% endblock %}


