{% extends "telemeta/base.html" %}
{% load i18n %}
{% load telemeta_utils %}
{% load teleforma_tags %}
{% load pagination_tags %}

{% block head_title %}{% trans "Testimonials" %} - {{ block.super }}{% endblock %}

{% block title %}
{% endblock %}


{% block infra_javascript %}
{% endblock infra_javascript %}

{% block content %}

<div id="module-set-left" style="width: 18%">

{% block modules %}
<div class="module">

<h3><a href="{% url teleforma-desk %}"><img src="{{ STATIC_URL }}telemeta/images/module_playlist.png" alt="playlists" style="vertical-align:middle" />{% trans "My seminars" %}</a></h3>
<div style="background: white;">
<ul>
{% block courses %}
{% for seminar in all_seminars %}
   <li><a href="{% url teleforma-seminar-detail seminar.id %}">{{ seminar.title }}</a></li>
 {% endfor %}
{% endblock courses %}
</ul>
</div>
</div>

</div>
{% endblock modules %}

<div class="desk_messages">

{% if user.is_staff %}
<div style="float:right;">
</div>
{% endif %}

<div class="course_title">{% trans "Testimonials" %}</div>
<br />

{% if object_list %}

{% autopaginate object_list %}
{% paginate %}

 {% for testimonial in object_list %}
  <div class="course_content">
    <div class="course_subtitle">
      <h3><img src="{{ STATIC_URL }}/telemeta/images/item_title.png" width="10px" alt="" /> {% if testimonial.seminar %}{{ testimonial.seminar.title }}{% else %}{{ testimonial.title }}{% endif %}</h3>
    </div>

   <table class="listing" width="100%">
    <tbody id="spacing">

    <tr>
     <td><a href="{% url teleforma-seminar-testimonial testimonial.seminar.id %}?format=pdf" target="_blank"><img src="{{ STATIC_URL }}/teleforma/images/application-msword.png" style="vertical-align:middle" alt="" /> {% trans "Training testimonial" %}</a></td>
     <td>{% trans "validated on" %} {{ testimonial.date_added }}</td>
     <td><a href="{% url teleforma-seminar-testimonial-download testimonial.seminar.id %}?format=pdf"><img src="{{ STATIC_URL }}teleforma/images/download.png" style="vertical-align:middle" alt="" title="{% trans "Download" %}" /></a></td>
    </tr>

    <tr>
     <td><a href="{% url teleforma-seminar-testimonial-knowledge testimonial.seminar.id %}?format=pdf" target="_blank"><img src="{{ STATIC_URL }}/teleforma/images/application-msword.png" style="vertical-align:middle" alt="" /> {% trans "Knowledge validation testimonial" %} ({% trans "only to have support of the training costs" %})</a></td>
     <td>{% trans "validated on" %} {{ testimonial.date_added }}</td>
     <td><a href="{% url teleforma-seminar-testimonial-knowledge testimonial.seminar.id %}?format=pdf" target="_blank"><img src="{{ STATIC_URL }}teleforma/images/download.png" style="vertical-align:middle" alt="" title="{% trans "Download" %}" /></a></td>
    </tr>

    <tr>
     <td><a href="{% url teleforma-seminar-testimonial-payback testimonial.seminar.id %}?format=pdf" target="_blank"><img src="{{ STATIC_URL }}/teleforma/images/application-msword.png" style="vertical-align:middle" alt="" /> {% trans "Payback testimonial" %} ({% trans "only to have support of the training costs" %})</td>
     <td>{% trans "validated on" %} {{ testimonial.date_added }}</td>
     <td><a href="{% url teleforma-seminar-testimonial-payback testimonial.seminar.id %}?format=pdf" target="_blank"><img src="{{ STATIC_URL }}teleforma/images/download.png" style="vertical-align:middle" alt="" title="{% trans "Download" %}" /></a></td>
    </tr>

    </tbody>
   </table>
  </div>
 {% endfor %}

 {% else %}
    <p class="help">{% trans "No testimonial" %}</p>
 {% endif %}
</div>
{% endblock %}


