
.selector {
    width: 960px;
    /*float: left;*/
}

.selector select {
    width: 960px;
    height: 17.2em;
}

.selector-available, .selector-chosen {
    /*float: left;*/
    width: 960px;
    text-align: center;
    margin-bottom: 5px;
}


