
#header{   
    font-size: 4em;
    color: white;
    padding-top: 2em;
    padding-left: 1em;
    background-color: #3a69b1;
}

#content {
    margin-top: 4em;
}

.table {
    font-size: 1.5em;
    margin: 1em 1em 1em 4em;
    width: 100%;
}


#address{

}

#signature{    
    width: 10%;            
}



#footer{   
    font-size: 1em;
    color: white;
    padding: 1em;
    padding-left: 1em;
    background-color: #3a69b1;
    text-align: center;
}

.bold {
    font-weight: bold;
}