{% load i18n %}
{% load telemeta_utils %}
{% load teleforma_tags %}
{% load pagination_tags %}

<div class="pagination">
    {% for p in page.paginator.pages %}
      {% if p == page %}
       <span class="selected">{{ page }}</span>
      {% else %}
       <a href="?page={{ p.number }}">{{ p }}</a>
      {% endif %}
    {% endfor %}
</div>

<div id="users">
  <table class="listing" width="100%">
   <thead>
   <tr><th>{% trans "Last Name"%}</th>
    <th>{% trans "First Name"%}</th>
    <th>{% trans "Email"%}</th>
   
    <th>{% trans "Write"%}</th>
    </tr>
    </thead>
    <tbody id="spacing">
    {% for user in page.object_list %}
    <tr>
     <td><a href="{% url teleforma-profile-detail user.username %}">{{ user.last_name }}</a></td>
     <td><a href="{% url teleforma-profile-detail user.username %}">{{ user.first_name }}</a></td>
     <td><a href="{% url teleforma-profile-detail user.username %}">{{ user.email }}</a></td>
     <td><a href="{% url postman_write user.username %}" class="component_icon button" id="action_orange">{% trans "Message" %}</a></td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
