{% load i18n %}
{% load telemeta_utils %}
{% load teleforma_tags %}
{% load pagination_tags %}

{% if is_paginated %}
<div class="pagination" id="user_pagination">
{% if page_obj.has_previous %}
<a href="{% url teleforma-users %}?page={{ page_obj.previous_page_number }}">< {% trans "Previous" %}</a>
{% endif %}
{% trans "Page" %} {{ page_obj.number }} {%trans "of" %} {{ page_obj.paginator.num_pages }}.
{% if page_obj.has_next %}
<a href="{% url teleforma-users %}?page={{ page_obj.next_page_number }}">{% trans "Next" %} ></a>
{% endif %}
</span>
</div>
{% endif %}

<div id="users">
  <table class="listing" width="100%">
   <thead>
   <tr><th>{% trans "Last Name"%}</th>
    <th>{% trans "First Name"%}</th>
    <th>{% trans "User"%}</th>
    <th>{% trans "IEJ"%}</th>
    <th>{% trans "Procedure"%}</th>
    <th>{% trans "Oral spe"%}</th>
    <th>{% trans "Written spe"%}</th>
    <th>{% trans "Oral 1"%}</th>
    <th>{% trans "Oral 2"%}</th>
    <th>{% trans "Messages"%}</th>
    </tr>
    </thead>
    <tbody id="spacing">
    {% for user in users %}
    <tr>
     <td>{{ user.last_name }}</td>
     <td>{{ user.first_name }}</td>
     <td><a href="{% url telemeta-profile-detail user.username %}">{{user.username}}</a></td>

     {% if user.student.get %}
      {% with user.student.get as student %}
        <td>{{ student.iej.name }}</td>
        <td>{{ student.procedure.code }}</td>
        <td>{{ student.oral_speciality.code }}</td>
        <td>{{ student.written_speciality.code }}</td>
        <td>{{ student.oral_1.code }}</td>
        <td>{{ student.oral_2.code }}</td>
     {% endwith %}
    {% elif user.professor.get %}
        <td>{% trans "Professor" %}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

    {% endif %}
    <td><a href="{% url postman_write user.username %}" class="component_icon button" id="action_orange">{% trans "Message" %}</a></td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>