{% load i18n %}
{% load telemeta_utils %}
{% load teleforma_tags %}
{% load pagination_tags %}

{% autopaginate object_list %}
{% paginate %}

<div id="users">
  <table class="listing" width="100%">
   <thead>
   <tr><th>{% trans "Last Name"%}</th>
    <th>{% trans "First Name"%}</th>
    <th>{% trans "Seminar"%}</th>
    <th>{% trans "Date submitted"%}</th>
    <th>{% trans "Summary"%}</th>
    <th>{% trans "Status"%}</th>
    </tr>
    </thead>
    <tbody id="spacing">
    {% for answer in page.object_list %}
    <tr>
     <td><a href="{% url teleforma-profile-detail answer.user.username %}">{{ answer.user.last_name }}</a></td>
     <td><a href="{% url teleforma-profile-detail answer.user.username %}">{{ answer.user.first_name }}</a></td>

     <td>{{ answer.question.seminar.title }}</td>
     <td>{{ answer.date_submitted }}</td>
     <td><a href="{% url teleforma-answer-detail answer.id %}">{{ answer.answer|summary:120 }}</a></td>
     <td>{% if user.is_staff %}
        <a id="validate" href="#" class="{% if answer.validated %}component_icon button icon_ok{% else %}component_icon button icon_delete{% endif %}"
        onclick="var f = answerUtils;
            if ($(this).hasClass('icon_ok')) {f.reject('{{answer.id}}', $(this)); return false;}
            if ($(this).hasClass('icon_delete')) {f.validate('{{answer.id}}', $(this)); return false;}">
            {% if answer.validated %}{% trans " validated" %}{% else %}{% trans " rejected" %}{% endif %}</a>
        {% endif %}
     </td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
