{% load telemeta_utils %}
{% load i18n %}

{% if course.conference.all|from_type:type %}
<div class="course_content">
<div class="course_subtitle">
    <h3><img src="{% url telemeta-images "item_title.png" %}" style="vertical-align:middle" /> {% trans "Live conference"%}</h3>
</div>
    <table class="listing" width="100%">
    <thead>
        <tr>
        <th class="highlight">{% trans "Session" %}</th>
        <th>{% trans "Professor" %}</th>
        <th>{% trans "Begin date" %}</th>
        <th >{% trans "Room" %}</th>
        <th>{% trans "Streaming" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for conference in course.conference.all|from_type:type %}
            <tr {% if not forloop.counter0|divisibleby:"2" %}class="odd"{% endif %}>
            <td><a href="{% url teleforma-conference-detail conference.id %}">{{ conference.session }}</a></td>
            <td><a href="{% url telemeta-profile-detail conference.professor.user.username %}" target="_blank">{{ conference.professor }}</a></td>
            <td>{{ conference.date_begin }}</td>
            <td>{{ conference.room }}</td>
             <td align="center">
                {% if conference.streaming %}
                <img src="images/media-record.png" alt="yes" style="vertical-align:middle" />
                {% endif %}
            </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
{% endif %}