{% load teleforma_tags %}
{% load i18n %}

{% with course.conference.all|from_course_type:type as conferences %}
{% if conferences %}
<div class="course_content">
<div class="course_subtitle">
    <h3><img src="{{ STATIC_URL }}telemeta/images/item_title.png" width="10px" alt="" /> {% trans "Live conferences"%}</h3>
</div>
    <table class="listing" width="100%">
    <tbody>
       {% for conference in conferences|from_periods:periods %}
        {% for stream in conference.livestream.all %}
         {% if stream.stream_type == 'webm' %}
            <tr>
            {% if stream.streaming %}
            <td {% if forloop.first %}class="border-top"{% endif %} width="230px">
               <a href="{% url teleforma-conference-detail stream.conference.id %}" title="{% trans "View" %}">
               <img id="snapshot-{{ stream.course.code }}-{{ stream.course_type }}" src="{{ stream.snapshot_url|set_host:HOST }}" width="100%" alt="{% trans 'Click here' %}" />
               </a>
            </td>
            <td {% if forloop.first %}class="border-top"{% endif %} width="60%" style="padding-left: 1em;">
                <div>
                    <dl class="listing" style="font-size: 1.2em;">
                    <dt>{% trans "Title" %}</dt><dd>{{ stream.conference.course.title }}</dd>
                    <dt>{% trans "Session" %}</dt><dd>{{ stream.conference.session }}</dd>
                    <dt>{% trans "Professor" %}</dt><dd><a href="{% url telemeta-profile-detail stream.conference.professor.user.username %}" target="_blank">{{ stream.conference.professor }}</a></dd>
                    <dt>{% trans "Begin" %}</dt><dd>{{ stream.conference.date_begin }}</dd>
                    </dl>
                 </div>
            </td>
            <td {% if forloop.first %}class="border-top"{% endif %} width="10%" align="center">
                {% if stream.streaming %}
                <img src="{{ STATIC_URL }}teleforma/images/network-wireless.png" style="vertical-align:middle" title="streaming" />
                <img src="{{ STATIC_URL }}telemeta/images/media-record.png" style="vertical-align:middle" title="recording" />
              {% endif %}
            </td>
            {% else %}
            <div style="padding-left: 1em;">

            </div>
             {% endif %}
            </tr>
            {% endif %}
        {% endfor %}
        {% endfor %}
    </tbody>
    </table>
</div>
{% endif %}
{% endwith %}