{% load teleforma_tags %}
{% load i18n %}

{% if course.livestream.all|from_course_type:type %}
<div class="course_content">
<div class="course_subtitle">
    <h3><img src="{% url telemeta-images "item_title.png" %}" width="10px" alt="" /> {% trans "Live conferences"%}</h3>
</div>
    <table class="listing" width="100%">
    <tbody>
        {% for stream in course.livestream.all|from_course_type:type %}
            <tr>
            <td {% if forloop.counter0 == 0 %}class="border-top"{% endif %} width="60%"><a href="{% url teleforma-conference-detail conference.id %}" title="{% trans "View" %}"><img src="{{ STATIC_URL }}/teleforma/images/network-wireless.png" style="vertical-align:middle" alt="" /> {{ stream.slug }}</a></td>
            <td {% if forloop.counter0 == 0 %}class="border-top"{% endif %} width="35%">{{ stream.conference.date_begin }}</td>
            <td {% if forloop.counter0 == 0 %}class="border-top"{% endif %} width="5%" align="center">
                {% if stream.streaming %}
                <img src="images/media-record.png" alt="yes" style="vertical-align:middle" />
                {% endif %}
            </td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
{% endif %}