{% load teleforma_tags %}
{% load i18n %}

<table class="listing" width="100%">
    <tbody>
        {% for doc in docs.all %}
            <tr>
            <td {% if forloop.first %}class="border-top"{% endif %} width="95%">{% if doc.file %}<a href="{% url teleforma-document-view doc.id %}" target="_blank" title="{% trans "View" %}"><img src="{{ STATIC_URL }}/teleforma/images/application-msword.png" style="vertical-align:middle" alt="" />{% endif %} {{ doc.title }}{% if doc.file %}</a>{% endif %}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>