{% load teleforma_tags %}
{% load i18n %}

{% course_docs_by_type as documents %}

{% if documents %}
<div class="course_content">
<div class="course_subtitle">
<h3><img src="/static/teleforma/images/item_title.png" width="10px" alt="" /> {% trans "Documents"%}</h3>
</div>

{% for doc_type, docs in documents %}

{% if docs  %}
<span class="doc_type_title">{{ doc_type }}</span>
<table class="listing" width="100%">
    <tbody>
      {% for doc in docs %}
      {% url 'teleforma-document-view' doc.id as docurl %}
        <tr>
        <td {% if forloop.first %}class="border-top"{% endif %} width="60%">{% if doc.file %}<a href="{{ docurl }}" target="_blank" title="{% trans "View" %}"><img src="/static//teleforma/images/application-msword.png" style="vertical-align:middle" alt="" />{% endif %} {{ doc.title }}{% if doc.file %}</a>{% endif %}</td>
        <td {% if forloop.first %}class="border-top"{% endif %} width="35%">{{ doc.date_added }}</td>
        <td {% if forloop.first %}class="border-top"{% endif %} width="5%" align="center">{% if doc.file %}<a href="{{ docurl }}"><img src="/static/teleforma/images/download.png" style="vertical-align:middle" alt="" title="{% trans "Download" %}" /></a>{% endif %}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}
{% endfor %}

</div>

{% else %}
<div class="course_content">
  <p>{% trans "No document" %}</p>
</div>

{% endif %}
