{% load teleforma_tags %}
{% load thumbnail %}
{% load i18n %}

<table class="listing" width="100%">
    <tbody>
      {% for media in medias.all %}
        {% if media.is_published or user.is_staff %}
            <tr>
            <td {% if forloop.first %}class="border-top"{% endif %} width="230px" style="vertical-align:middle">
            <a href="{% url teleforma-media-video seminar.id media_package.id %}" title="{% trans "Play" %}">
             {{ media.item.title }}
            </a>
          </td>
          </tr>
        {% endif %}
      {% endfor %}
   </tbody>
</table>