{% load i18n %}

{% if course.media.all %}
<div class="course_content">
<div class="course_subtitle">
    <h3><img src="{% url telemeta-images "item_title.png" %}" style="vertical-align:middle" /> {% trans "Differed"%}</h3>
</div>
    <table class="listing" width="100%">
    <thead>
        <tr>
        <th class="highlight">{% trans "Title" %}</th>
        <th>{% trans "Description" %}</th>
        <th>{% trans "Date modified" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for media in course.media.all %}
            <tr {% if not forloop.counter0|divisibleby:"2" %}class="odd"{% endif %}>
            <td><a href="{% url teleforma-media-detail media.id %}">{{ media.item.title }}</a></td>
            <td>{{ media.item.description }}</td>
            <td>{{ media.date_modified }}</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
{% endif %}