{% load teleforma_tags %}
{% load thumbnail %}
{% load i18n %}

{% if course.media.all|from_course_type:type %}
<div class="course_content">
<div class="course_subtitle">
    <h3><img src="{{ STATIC_URL }}telemeta/images/item_title.png" width="10px" alt="" /> {% trans "Passed conferences"%}</h3>
</div>
    <table class="listing" width="100%">
    <tbody>
        {% for media in course.media.all|from_course_type:type|from_periods:periods %}
         {% if media.is_published or user.is_staff %}
          {% if media.type == 'webm' %}
            <tr>
            <td {% if forloop.first %}class="border-top"{% endif %} width="230px" style="vertical-align:middle">
            <a href="{% url teleforma-media-detail media.id %}" title="{% trans "Play" %}">
            {% if media.item.related.all %}
             {% for related in media.item.related.all %}
              {% if related.title == "preview" %}
               {% thumbnail related.file "168x96" as im %}
                <div style="background: no-repeat url('{{ im.url|set_host:HOST }}') 0 1px; background-size: 100%; background-color: #dfdfdf;">
                 <img src="{{ STATIC_URL }}teleforma/images/play_168.png" width="100%" alt="{% trans 'Click here' %}" />
                </div>
               {% endthumbnail %}
              {% endif %}
             {% endfor %}
            {% else %}
              {% trans 'Click here' %}
            {% endif %}
            </a>
            </td>
            <td {% if forloop.first %}class="border-top"{% endif %} width="60%" style="padding-left: 1em;">
                <div>
                    <dl class="listing" style="font-size: 1.2em;">
                    <dt>{% trans "Title" %}</dt><dd>{{ media.conference.course.title }}</dd>
                    <dt>{% trans "Session" %}</dt><dd>{{ media.conference.session }}</dd>
                    {% if media.conference.professor %}
                    <dt>{% trans "Professor" %}</dt><dd><a href="{% url telemeta-profile-detail media.conference.professor.user.username %}" target="_blank">{{ media.conference.professor }}</a></dd>
                    {% endif %}
                    <dt>{% trans "Begin" %}</dt><dd>{{ media.conference.date_begin }}</dd>
                    {% if media.conference.comment %}
                    <dt>{% trans "Comment" %}</dt><dd>{{ media.conference.comment }}</dd>
                    {% endif %}
                    </dl>
                 </div>
            </td>
            <td {% if forloop.first %}class="border-top"{% endif %} width="10%" align="center">
            {% if media.is_published and user.is_staff %}
             <img src="{{ STATIC_URL }}telemeta/images/ok.png" style="vertical-align:middle" alt="" title="{% trans ' published' %}" />
            {% elif not media.is_published and user.is_staff %}
             <img src="{{ STATIC_URL }}telemeta/images/delete.png" style="vertical-align:middle" alt="" title="{% trans ' rejected' %}" />
            {% endif %}
            {% if media.item.file %}
             <a href="{{ MEDIA_URL|set_host:HOST }}{{ media.item.file }}">
              <img src="{{ STATIC_URL }}teleforma/images/download_media.png" style="vertical-align:middle" alt="" title="{% trans "Download" %}" />
             </a>
            {% endif %}
            </td>
            </tr>
          {% endif %}
         {% endif %}
        {% endfor %}
    </tbody>
    </table>
</div>
{% endif %}
