{% load teleforma_tags %}
{% load i18n %}

{% if course.media.all|from_course_type:type %}
<div class="course_content">
<div class="course_subtitle">
    <h3><img src="{% url telemeta-images "item_title.png" %}" width="10px" alt="" /> {% trans "Passed conferences"%}</h3>
</div>
    <table class="listing" width="100%">
    <tbody>
        {% for media in course.media.all|from_course_type:type %}
         {% if media.published or user.is_staff %}
            <tr>
            <td {% if forloop.counter0 == 0 %}class="border-top"{% endif %} width="40%"><a href="{% url teleforma-media-detail media.id %}" title="{% trans "View" %}"><img src="{{ STATIC_URL }}/teleforma/images/tool-animator.png" style="vertical-align:middle" alt="" /> {% trans "Session" %} - {{ media.conference.session }}</a></td>
            <td {% if forloop.counter0 == 0 %}class="border-top"{% endif %} width="20%">{% if media.conference.professor.user %}<a href="{% url teleforma-profile-detail media.conference.professor.user.username %}" target="_blank">{{ media.conference.professor }}</a>{% endif %}</td>
            <td {% if forloop.counter0 == 0 %}class="border-top"{% endif %} width="35%">{% if media.conference.date_begin %}{{ media.conference.date_begin }}{% endif %}</td>
            <td {% if forloop.counter0 == 0 %}class="border-top"{% endif %} width="5%" align="center">{% if media.item.file %}<a href="{% url teleforma-media-download media.id %}"><img src="{{ STATIC_URL }}teleforma/images/download_media.png" style="vertical-align:middle" alt="" title="{% trans "Download" %}" /></a>{% endif %}</td>
            </tr>
         {% endif %}
        {% endfor %}
    </tbody>
    </table>
</div>
{% endif %}