{% load static %}

<div class="newsitem">
    <header>
        <h3>{{ newsitem.title }}</h3>
        {% if newsitem.can_edit or newsitem.can_delete %}
        <ul class="actions">
        	{% if newsitem.can_edit %}
        	<li>
        		<a href="{% url 'newsitem-update' pk=newsitem.id %}?period_id={{ period_id }}"><img src="{% static 'teleforma/images/pencil-edit-button.png' %}" alt="éditer"/>
</a>
        	</li>
        	{% endif %}
        	{% if newsitem.can_delete %}
        	<li>
        		<a href="{% url 'newsitem-delete' pk=newsitem.id %}?period_id={{ period_id }}"><img src="{% static 'teleforma/images/rubbish-bin-delete-button.png' %}" alt="supprimer"/></a>
        	</li>
        	{% endif %}
        </ul>		
        {% endif %}
        <br /><p>par {{ newsitem.creator }} le {{ newsitem.created }}</p>
        
    </header>
    <section>
    	{% autoescape off %}
    	{{ newsitem.text }}
    	{% endautoescape %}
    </section>
</div>