{% load teleforma_tags %}
{% load i18n %}

<div class="course_content">

<div class="course_subtitle">
<h3><img src="{{ STATIC_URL }}/telemeta/images/item_title.png" width="10px" alt="" /> {{ title }}</h3>
</div>

<table class="listing" width="100%">
    <tbody>
        {% for question in questions.all %}
            <tr>
            <td {% if forloop.first %}class="border-top"{% endif %} width="45%"><a href="{% url teleforma-question-answer question.id %}">{{ question.title }} n°{{ question.rank }}</a></td>
            <td {% if forloop.first %}class="border-top"{% endif %} width="50%">{% if question|submitted:user %}{%  trans "submitted on" %}{% else %}{% trans "saved on" %}{% endif %} {{ question|submitted:user }}</td>
            <td {% if forloop.first %}class="border-top"{% endif %} width="5%" align="center">{% if question|submitted:user %}<img src="{{ STATIC_URL }}telemeta/images/ok.png" style="vertical-align:middle" alt="" title="{% trans "Submitted" %}" />{% endif %}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

</div>

