{% load teleforma_tags %}
{% load i18n %}

<div class="course_content">

<div class="course_subtitle">
<h3><img src="{{ STATIC_URL }}/telemeta/images/item_title.png" width="10px" alt="" /> {% trans "Questions"%}</h3>
</div>


<span class="doc_type_title">{{ doc_type }}</span>
<table class="listing" width="100%">
    <tbody>
        {% for question in questions.all %}
            <tr>
            <td {% if forloop.first %}class="border-top"{% endif %} width="60%">{{ question.title }}</td>
            <td {% if forloop.first %}class="border-top"{% endif %} width="35%">{{ question.rank }}</td>
            <td {% if forloop.first %}class="border-top"{% endif %} width="5%" align="center"><img src="{{ STATIC_URL }}teleforma/images/download.png" style="vertical-align:middle" alt="" title="{% trans "Download" %}" /></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

</div>

