{% load teleforma_tags %}
{% load i18n %}

<dl class="listing" style="font-size: 1.1em; color: black;">

{% if seminar.sub_title %}
<dt>{% trans "sub title" %}</dt><dd>{{ seminar.sub_title }}</dd>
{% else %}
<dt>{% trans "course" %}</dt><dd>{{ seminar.course }}</dd>
{% endif %}
<dt>{% trans "level" %}</dt><dd>{{ seminar.level }}</dd>
<dt>{% trans "duration" %}</dt><dd>{{ seminar.duration|hours }} {% trans "hours" %}</dd>
<dt>{% trans "expiry date" %}</dt><dd>{{ seminar.expiry_date }}</dd>
{% if user.is_superuser %}
<dt>{% trans "code" %}</dt><dd>{{ seminar.code }}</dd>
<dt>{% trans "preview" %}</dt><dd>{% url teleforma-media-video seminar.id seminar.media_preview.id %}</dd>
{% endif %}
</dl>