{% load teleforma_tags %}
{% load i18n %}
        
{% with seminar.docs_1 as docs %}
  <div class="course_subtitle">
    <h4><img src="{{ STATIC_URL }}/telemeta/images/item_title.png" width="10px" alt="" /> {% trans "Step" %} 1</h4>
  </div>
  {% include "teleforma/inc/document_step.html" %}
{% endwith %}

{% with seminar.media as media_packages %}
  <div class="course_subtitle">
    <h4><img src="{{ STATIC_URL }}/telemeta/images/item_title.png" width="10px" alt="" /> {% trans "Step" %} 2</h4>
  </div>
  {% include "teleforma/inc/media_step.html" %}  
{% endwith %}


{% with seminar.docs_2 as docs %}
  <div class="course_subtitle">
    <h4><img src="{{ STATIC_URL }}/telemeta/images/item_title.png" width="10px" alt="" /> {% trans "Step" %} 3</h4>
  </div>
  {% include "teleforma/inc/document_step.html" %}
{% endwith %}

{% with seminar.question as questions %}
  <div class="course_subtitle">
    <h4><img src="{{ STATIC_URL }}/telemeta/images/item_title.png" width="10px" alt="" /> {% trans "Step" %} 4</h4>
  </div>
  {% include "teleforma/inc/question_step.html" %}
{% endwith %}


{% if seminar_progress == 100 %}
{% with seminar.docs_correct as docs %}
   <div class="course_subtitle">
    <h4><img src="{{ STATIC_URL }}/telemeta/images/item_title.png" width="10px" alt="" /> {% trans "Step" %} 5</h4>
  </div>
  {% include "teleforma/inc/document_step.html" %}
{% endwith %}

{% with seminar.form as form %}
  <div class="course_subtitle">
    <h4><img src="{{ STATIC_URL }}/telemeta/images/item_title.png" width="10px" alt="" /> {% trans "Step" %} 6 :</h4>
  </div>
  {% include "teleforma/inc/evaluation_form.html" %}
{% endwith %}
{% endif %}

{% if seminar|validated:user %}
  <div class="course_subtitle">
    <h4><img src="{{ STATIC_URL }}/telemeta/images/item_title.png" width="10px" alt="" /> {% trans "Step" %} 7</h4>
  </div>
  {% include "teleforma/inc/testimonial_step.html" %}
{% endif %}

