{% load teleforma_tags %}
{% load i18n %}

<table class="listing" width="100%">
    <tbody>        
            <tr>
            <td class="border-top" width="100%"><a href="{% url teleforma-seminar-testimonial seminar.id %}?format=pdf" target="_blank" title="{% trans "Testimonial" %}"><img src="{{ STATIC_URL }}teleforma/images/icon_doc_16.png" style="vertical-align:middle" alt="" /> {% trans "Testimonial" %} : {{ seminar.title }}{% if seminar.rank %} n°{{seminar.rank}}{% endif %}</a></td>
            </tr>
        
    </tbody>
</table>

