{% extends "teleforma/base.html" %}
{% load i18n %}
{% load postman_tags %}

{% block postman_menu %}

<div id="module-set-left" style="width: 20%;">

<div class="module">
<h3><img src="{% url telemeta-images "module_playlist.png" %}" alt="playlists" style="vertical-align:middle" />{% trans "Folders" %}</h3>

<div style="background: white;">
{% postman_unread as unread_count %}
<ul>
<li><a href="{% url postman_inbox %}m/">{% if unread_count %} <strong>{% trans "Inbox" %} ({{ unread_count }})</strong>{% else %}{% trans "Inbox" %}{% endif %}</a></li>
<li><a href="{% url postman_sent %}m/">{% trans "Sent Messages" %}</a></li>
<li><a href="{% url postman_archives %}m/">{% trans "Archives" %}</a></li>
<li><a href="{% url postman_trash %}">{% trans "Trash" %}</a></li>
</ul>
</div>
</div>
<div class="module_action">
<a href="{% url postman_write %}" class="component_icon button" id="action_orange">{% trans "New message" %}</a>
</div>
</div>

{% endblock postman_menu %}