{% extends "postman/base.html" %}
{% load i18n %}
{% load teleforma_tags %}

{% block extrahead %}{{ block.super }}
{% if is_autocompleted %}
{# using the available admin jQuery is enough #}
<script type="text/javascript" src="{% load adminmedia %}{% admin_media_prefix %}js/jquery.min.js"></script>
{# <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.min.js"></script> #}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.autocomplete.min.js"></script>
<link href="{{ MEDIA_URL }}css/jquery.autocomplete.css" type="text/css" media="all" rel="stylesheet" />
{% endif %}
{% endblock %}

{% block content %}
<div id="postman" class="desk_messages">
<h1>{% block pm_write_title %}{% endblock %}</h1>

{% if user.student.all or user.is_staff %}
<div style="padding-top: 0.5em;">

<select id="_adminSelect" name="admins" onchange="update_recipients();">
<option>{% trans "to an administrator" %}</option>
{% get_all_admins as admins %}
{% for a in admins %}
<option value="{{ a.username }}">{{a.first_name}} {{a.last_name}}</option>
{% endfor %}
</select>

<select id="_professorSelect" name="professors" onchange="update_recipients();">
<option>{% trans "to a professor" %}</option>
{% get_all_professors as professors %}
{% for p in professors %}
<option value="{{ p.user.username }}">{{p.user.first_name}} {{p.user.last_name}}</option>
{% endfor %}
</select>

{% if user.is_staff %}
<select id="_iejSelect" name="iejs" onchange="update_recipients();">
<option>{% trans "to an IEJ" %}</option>
{% get_all_iejs as iejs %}
{% for i in iejs %}
<option value="{{ i.name }}">{{i.name}}</option>
{% endfor %}
</select>
{% endif %}

</div>
{% endif %}

<div class="write_content">
<form id="_messageForm" action="{% if next_url %}?next={{ next_url|urlencode }}{% endif %}" method="post">{% csrf_token %}
<table>
{% block pm_write_recipient %}{% endblock %}
{{ form.as_table }}
</table>
</form>
<a href="#" class="component_icon button icon_next" id="send_button">{% trans "Send" %}</a>
</div>
</div>
<script type="text/javascript">document.getElementById("id_subject").focus();</script>
<script type="text/javascript">
function update_recipients() {
$("#_professorSelect").click(function () {
      var htmlStr = $(this).val();
      $("#id_recipients").val(htmlStr);
    });
$("#_adminSelect").click(function () {
      var htmlStr = $(this).val();
      $("#id_recipients").val(htmlStr);
    });
$("#_iejSelect").click(function () {
      var htmlStr = $(this).val();
      $("#id_recipients").val(htmlStr);
    });

}

$('#send_button').click(function() {
  $('#_messageForm').submit();
});

</script>
{% endblock %}