{% load i18n %}
{% load telemeta_utils %}
{% load teleforma_tags %}
{% load pagination_tags %}

{% autopaginate object_list 8 %}
{% paginate %}

<script>
$(document).ready(function(){
    $('table tr').click(function(){
        window.location = $(this).data('href');
        return false;
    });
});
</script>


<div id="users">
  <table class="listing" width="100%">
   <thead>
   <tr>
    <th>{% trans "Course"%}</th>
    <th>{% trans "Session"%}</th>
    <th>{% trans "Type"%}</th>
    <th>{% trans "Last Name"%}</th>
    <th>{% trans "First Name"%}</th>
    <th>{% trans "Submission date"%}</th>
    <th>{% trans "Mark date"%}</th>
    <th>{% trans "Corrector"%}</th>
    <th>{% trans "Score"%}</th>
    </tr>
    </thead>
    <tbody id="spacing" class="script-list">
    {% for script in object_list %}
    <tr {% if script.status != 2 %}data-href="{% url teleforma-exam-script-detail period.id script.id %}"{% endif %}>
    <td>{{ script.course.title }}</td>
     <td>{{ script.session }}</td>
     <td>{{ script.type }}</td>
     <td>{{ script.author.last_name }}</td>
     <td>{{ script.author.first_name }}</td>
     <td>{{ script.date_submitted }}</td>
     <td>{% if script.date_marked %}{{ script.date_marked }}{% endif %}</td>
     <td>{% if script.corrector %}{{ script.corrector }}{% endif %}</td>
     <td>{% if script.score %}{{ script.score|floatformat }}{% endif %}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
