{% extends "exam/scripts.html" %}
{% load teleforma_tags %}
{% load i18n %}

{% block extra_javascript %}
{% endblock extra_javascript %}

{% block answers %}

<div class="course_title">
{% trans "Quotas" %}
</div>
<br />

<form method="GET">
  <label for="corrector_select">{% trans "Corrector"%}</label>
  <select name="corrector" id="corrector_select">
      <option value="">---</option>
      {% for corrector in correctors_list %}
      <option value="{{corrector.0}}" {% if corrector.0 == corrector_selected %}selected="selected"{% endif %}>{{corrector.1}}</option>
      {% endfor %}
  </select>
  <label for="course_select">{% trans "Course"%}</label>
  <select name="course" id="course_select">
      <option value="">---</option>
      {% for course in courses_list %}
      <option value="{{course.0}}" {% if course.0 == course_selected %}selected="selected"{% endif %}>{{course.1}}</option>
      {% endfor %}
  </select>
  <label for="session_select">{% trans "Session"%}</label>
  <select name="session" id="session_select">
      <option value="">---</option>
      {% for session in sessions_list %}
      <option value="{{session.0}}" {% if session.0 == session_selected %}selected="selected"{% endif %}>{{session.1}}</option>
      {% endfor %}
  </select>
  <input type="submit" value="Filtrer"/>
</form>

<div id="users">
  <table class="listing" width="100%">
   <thead>
   <tr>
    <th>{% trans "Corrector"%}</th>
    <th>{% trans "Period"%}</th>
    <th>{% trans "Course"%}</th>
    <th>{% trans "Session"%}</th>
    <th>{% trans "date start"%}</th>
    <th>{% trans "date end"%}</th>
    <th>{% trans "Pending"%}</th>
    <th>{% trans "Marked"%}</th>
    <th>{% trans "Value"%}</th>
    <th>{% trans "Level"%}</th>
    </tr>
    </thead>
    <tbody id="spacing" class="script-list">
    {% for quota in object_list %}
    <tr>
     <td><a href="{% url 'teleforma-profile-detail' quota.corrector.username %}">{{ quota.corrector.username }}</a></td>
     <td>{{ quota.period.name   }}</td>
     <td>{{ quota.course.title }}</td>
     <td>{{ quota.session }}</td>
     <td>{{ quota.date_start }}</td>
     <td>{{ quota.date_end }}</td>
     <td>{{ quota.pending_script_count }}</td>
     <td>{{ quota.marked_script_count }}</td>
     <td>{{ quota.value }}</td>
     <td {% if quota.level > 100 %}style="color:#FF5050"{% endif %}>{{ quota.level|floatformat }}%</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>


{% endblock answers %}
