{% extends "teleforma/course_detail.html" %}
{% load telemeta_utils %}
{% load teleforma_tags %}
{% load i18n %}
{% load thumbnail %}

{% block extra_javascript %}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

  <script>
    // increase the default animation speed to exaggerate the effect

    $(function() {
        $( "#dialog_mark" ).dialog({
            autoOpen: false,
            draggable: false,
            resizable: false,
                    modal: true,

        });

        $( "#dialog_reject" ).dialog({
            autoOpen: false,
            draggable: false,
            resizable: false,
                    modal: true,

        });

        $( "#opener_mark" ).click(function() {
            $( "#dialog_mark" ).dialog({ width: 500 });
            $( "#dialog_mark" ).dialog( "open");
            return false;
        });

        $( "#opener_reject" ).click(function() {
            $( "#dialog_reject" ).dialog( "open");
            return false;
        });

        var b1 = $('#validate_button');
        b1.unbind('click').click(function() {
            $(window).unbind('beforeunload');
            b1.unbind('click');
            $('#_MarkForm #id_status').val("4");
            $('#_MarkForm').submit();
        });

        var b2 = $('#reject_button');
        b2.unbind('click').click(function() {
            $(window).unbind('beforeunload');
            b2.unbind('click');
            $('#_RejectForm #id_status').val("0");
            $('#_RejectForm').submit();
        });

    });

    </script>
{% endblock extra_javascript %}


{% block content %}

{% block course %}
<div class="course">

<div class="course_title">

    <a href="{% url teleforma-desk-period-course period.id script.course.id %}">{{ course.title }} - {{ script.type }}{% if script.session %} - {% trans "Session" %} {{ script.session }}{% endif %} - {{ script.author.first_name }} {{ script.author.last_name }} - {{ script.date_submitted }}</a>

    <div style="float: right; font-size: 0.9em;">

        {% if script.score %}
        <a id="score" href="#" class="component_icon button icon_ok">{% trans "Score" %} : {{ script.score|floatformat }}/20</a>
        {% elif script.status == 0 %}
        <a href="#" class="component_icon button icon_delete">{% trans "Rejected" %}</a>
        {% else %}
         {% if user.correctors.all %}
        	<a id="opener_mark" href="#" class="component_icon button icon_edit">{% trans "Mark" %}</a>
        	<a id="opener_reject" href="#" class="component_icon button icon_delete">{% trans "Reject" %}</a>
         {% else %}
         	<a id="opener_mark" href="#" class="component_icon button icon_time">{% trans "Submitted" %}</a>
         {% endif %}
        {% endif %}

    </div>

</div>

<div id="dialog_mark" title="{% trans "Mark" %}" style="width: 400px;">
    <form method="post" id="_MarkForm" action="">{% csrf_token %}
       <table>
       <tr><td colspan="2">{% for error in form.non_field_errors %}<li class="error">{{ error }}</li>{% endfor %}</td></tr>
       {% for field in form %}
       <tr>
        {% if not field.html_name in mark_fields %}
            <td>{{ field.label_tag.as_hidden }}</td><td>{{ field.as_hidden }}</td>
        {% else %}
            <tr><td class="error">{{ field.errors }}</td></tr>
            <td>{{ field.label_tag }}:</td><td> {{ field }}</td>
        {% endif %}
        </tr>
       {% endfor %}
       </table>
    </form>
    <br />
    <a href="#" id="validate_button" class="component_icon button icon_ok">{% trans "Validate" %}</a>

</div>

<div id="dialog_reject" title="{% trans "Reject" %}">
<form method="post" id="_RejectForm" action="">{% csrf_token %}
       <table>
       <tr><td colspan="2">{% for error in form.non_field_errors %}<li class="error">{{ error }}</li>{% endfor %}</td></tr>
       {% for field in form %}
       <tr>
        {% if not field.html_name in reject_fields %}
            <td>{{ field.label_tag.as_hidden }}</td><td>{{ field.as_hidden }}</td>
        {% else %}
            <tr><td class="error">{{ field.errors }}</td></tr>
            <td>{{ field.label_tag }}:</td><td> {{ field }}</td>
        {% endif %}
        </tr>
       {% endfor %}
       </table>
    </form>
    <br />
        <a href="#" id="reject_button" class="component_icon button icon_delete">{% trans "Reject" %}</a>
</div>


{% if access_error %}
  <p>{{ access_error }}</p>
  <p>{{ message }}</p>

{% else %}
<div class="media">
 <div class="script">
    <iframe style="position:fixed; top:14%; left:0px; bottom:0px; right:0px; width:100%; height:85%; border:none; margin:0; padding:0; z-index:0;" src="{% if user.correctors.all %}{{ script.box_admin_url }}{% else %}{{ script.box_user_url }}{% endif %}">
    </iframe>
 </div>
</div>

{% block general_info %}
{% endblock general_info %}

{% endif %}

</div>
{% endblock course %}
{% endblock content %}
