{% extends "teleforma/course_detail.html" %}
{% load telemeta_utils %}
{% load teleforma_tags %}
{% load i18n %}
{% load thumbnail %}

{% block extra_javascript %}
{% endblock extra_javascript %}


{% block content %}

{% block course %}
<div class="course">

<div class="course_title">

    <a href="{% url teleforma-desk-period-course period.id script.course.id %}">{{ course.title }} - {{ script.type }}{% if script.session %} - {% trans "Session" %} {{ script.session }}{% endif %} - {{ script.author.first_name }} {{ script.author.last_name }} - {{ script.date_submitted }}</a>

    <div style="float: right; font-size: 0.9em;">
        <a id="publish" href="#" class="{% if script.score %}component_icon button icon_ok{% else %}component_icon button icon_delete{% endif %}">{% trans "Score : " %}{% if script.score %}{{ script.score|floatformat }}{% else %}    {% endif %}/20</a>
        <a id="publish" href="#" class="{% if script.status == 4 %}component_icon button icon_ok{% else %}component_icon button icon_delete{% endif %}">{% if script.status == 4 %}{% trans " corrected" %}{% else %}{% trans " pending" %}{% endif %}</a>

    </div>

</div>

{% if access_error %}
  <p>{{ access_error }}</p>
  <p>{{ message }}</p>

{% else %}
<div class="media">
 <div class="script">
    <iframe style="position:fixed; top:14%; left:0px; bottom:0px; right:0px; width:100%; height:85%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;" src="{{ script.box_admin_url }}">
    </iframe>
 </div>
</div>

{% block general_info %}
{% endblock general_info %}

{% endif %}

</div>
{% endblock course %}
{% endblock content %}
