{% extends "exam/scripts.html" %}
{% load telemeta_utils %}
{% load teleforma_tags %}
{% load i18n %}
{% load thumbnail %}

{% block extra_javascript %}
{% if upload %}
  <script>
    $(document).ready(function(){
        $('#loading').hide();
    });

    $(function() {
        $('#submit_button').unbind('click').click(function() {
            $(window).unbind('beforeunload');
            // b2.unbind('click');
            $('#id_status').val("2");
            $('#id_period').val("{{ period.id }}");
            $(this).hide();
            $('#loading').show();
            $('#_ScriptForm').submit();
        });
    });
    </script>
{% endif %}
{% endblock extra_javascript %}

{% block answers %}

<div class="course_title">
{% trans "New script" %}

    <div style="float: right; font-size: 0.9em;">
        <a id="blank_script" href="http://files.parisson.com/pre-barreau/Modele_copie.pdf" class="component_icon button icon_download" target="_blank">&nbsp;{% trans "Blank script" %}</a>
    </div>

</div>
<br />

{% if messages %}
    <div class="messages">
        {% for message in messages %}
          <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
        {% endfor %}
    </div>
{% endif %}
<br />

<div>Ce formulaire vous permet de soumettre une copie <b>non corrigée</b> à la correction en ligne.</div>
<div>Merci de fournir <b>un seul fichier par épreuve</b>, en <b>noir/gris et blanc</b>, au format <b>PDF uniquement</b> et de <b>taille inférieure à 20 Mo</b>.</div>
<br/>
<div>La taille du fichier scanné peut être réduite en utilisant un mode sans couleur (par exemple "nuances de gris"), en diminuant la résolution de votre scanner (150 points par pouces ou DPI peuvent suffire) ou en utilisant le service en ligne <a href="http://smallpdf.com/compress-pdf">smallpdf.com/compress-pdf</a>.</div>
<br/>
<div>Pour fusionner des fichiers PDF, vous pouvez utiliser un éditeur PDF ou par exemple le service en ligne <a href="http://smallpdf.com/fr/fusionner-pdf" target="_blank">smallpdf.com/fr/fusionner-pdf</a>, <a href="http://www.pdfmerge.com/fr">PDFmerge</a> ou <a href="https://www.google.fr/search?q=pdfmerge">autre</a>. Pour réorienter les pages : <a href="http://www.rotatepdf.net/fr/">rotatepdf.net</a>.</div>
<br/>
<div>Veuillez indiquer <b>tous les champs</b> du formulaire suivant:</div>

<div class="course_content" id="media_infos" style="font-size: 115%;">
    <form method="post" id="_ScriptForm" action="" enctype="multipart/form-data" data-ajax="false">{% csrf_token %}
       <table>
       <br />
       <tr><td colspan="2">{% for error in form.non_field_errors %}<li class="error">{{ error }}</li>{% endfor %}</td></tr>
       {% for field in form %}
       <tr>
        {% if not field.html_name in create_fields %}
            <td>{{ field.label_tag.as_hidden }}</td><td>{{ field.as_hidden }}</td>
        {% else %}
            <td>{{ field.label_tag }}:</td><td> {{ field }}</td>
        {% endif %}
        </tr>
       {% endfor %}
       </table>
    </form>
    {% if upload %}
    <br />
    <center>
    <a href="#" id="submit_button" class="component_icon button icon_next">{% trans "Submit" %}</a>
    <img id="loading" src="{{STATIC_URL}}teleforma/images/loading.gif" style="vertical-align:middle" alt="loading" />
    </center>
    {% endif %}
    <br /><br />

</div>
</div>

{% endblock answers %}
