{% extends "exam/scripts.html" %}
{% load telemeta_utils %}
{% load teleforma_tags %}
{% load i18n %}
{% load thumbnail %}

{% block extra_javascript %}
  <script>
    $('#loading').hide();
    $(function() {
        $('#submit_button').unbind('click').click(function() {
            $(window).unbind('beforeunload');
            // b2.unbind('click');
            $('#id_status').val("2");
            $('#id_period').val("{{ period.id }}");
            $(this).hide();
            $('#loading').show();
            $('#_ScriptForm').submit();
        });
    });
    </script>
{% endblock extra_javascript %}

{% block answers %}

<div class="course_title">
{% trans "New script" %}

    <div style="float: right; font-size: 0.9em;">
        <a id="blank_script" href="http://files.parisson.com/pre-barreau/Modele_copie.pdf" class="component_icon button icon_download" target="_blank">&nbsp;{% trans "Blank script" %}</a>
    </div>

</div>
<br />

<div>Merci de fournir <b>un seul</b> fichier au format <b>PDF uniquement</b> et nommés <b>sans accents ni caractères spéciaux</b>.</div>

<div>Pour fusionner des fichiers PDF, vous pouvez utiliser un éditeur PDF ou bien ce <a href="http://www.pdfmerge.com/" target="_blank">service en ligne gratuit</a>.</div>

<div class="course_content" id="media_infos" style="font-size: 115%;">
    <form method="post" id="_ScriptForm" action="" enctype="multipart/form-data" data-ajax="false">{% csrf_token %}
       <table>
       <br />
       <tr><td colspan="2">{% for error in form.non_field_errors %}<li class="error">{{ error }}</li>{% endfor %}</td></tr>
       {% for field in form %}
       <tr>
        {% if not field.html_name in create_fields %}
            <td>{{ field.label_tag.as_hidden }}</td><td>{{ field.as_hidden }}</td>
        {% else %}
            <td>{{ field.label_tag }}:</td><td> {{ field }}</td>
        {% endif %}
        </tr>
       {% endfor %}
       </table>
    </form>
    <br />
    <center>
    <a href="#" id="submit_button" class="component_icon button icon_ok">{% trans "Submit" %}</a>
    <img id="loading" src="{{STATIC_URL}}teleforma/images/loading.gif" style="vertical-align:middle" alt="loading" />
    </center>
    <br /><br />

</div>
</div>

{% endblock answers %}
