{% extends "telemeta/base.html" %}
{% load telemeta_utils %}
{% load i18n %}

{% block content %}
<div class="home-content">
<div id="module-set">

{% block modules %}

{% with "Last changes" as title %}
{% include "telemeta/inc/module_revisions.html" %}
{% endwith %}

{{ block.super }}

{% endblock %}

</div>

<div class="home-description">
<img class="align-left" src="{% url telemeta-images "vox.png" %}" alt="vox" style="vertical-align:middle;" />
{{ page_content|render_flatpage }}
</div>

<a href="{% url telemeta-login %}" class="component_icon button" id="action_red">{% trans "Connexion" %}</a>

</div>
{% endblock %}
