{% extends "telemeta/base.html" %}
{% load i18n %}

{% block title %}
{% endblock %}

{% block content %}
{% if form.errors %}
<p class="login-error">{% trans "Your username and password didn't match. Please try again." %}</p>
{% endif %}
<form class="login" id="_loginForm" method="post" action="{% url telemeta-login %}">{% csrf_token %}
<p>
{{ form.username.label_tag }}
{{ form.username }}<br />
{{ form.password.label_tag }}
{{ form.password }}
</p>
<span style="align: right; font-weight: bold;"><a href="{% url telemeta-password-reset %}">{% trans "Password forgotten" %} ?</a></span>
<input class="submit" type="submit" value="{% trans "Sign in" %}" />
<input type="hidden" name="next" value="{{ next }}" />
</form>
{% endblock %}
