{% extends "telemeta/base.html" %}
{% load i18n %}
{% load telemeta_utils %}
{% load teleforma_tags %}

{% block head_title %}{% trans "Users" %} - {{ block.super }}{% endblock %}

{% block title %}
{% endblock %}


{% block content %}
<div id="module-set-left" style="width: 20%">
<div class="module">
<h3><img src="{% url telemeta-images "module_playlist.png" %}" alt="playlists" style="vertical-align:middle" />{% trans "Trainings" %}</h3>
<div style="background: white;">
<ul>
{% block courses %}
{% for training in trainings %}
<li><a href="{% url teleforma-training-users training.id %}">{{ training.code }}</a></li>
{% endfor %}
{% endblock courses %}
</ul>
</div>
</div>

{% if all_users %}
<div class="module_action">
<a href="{% url postman_write all_users|to_recipients %}" class="component_icon button" id="action_orange">{% trans "New message" %}</a>
</div>
{% endif %}

</div>

<div class="desk_large">

{% if user.is_staff %}
<div style="float:right;">
<a href="{% if training %}{% url teleforma-training-users-export training.id %}{% else %}{% url teleforma-users-xls-export %}{% endif %}" class="component_icon button icon_csv">XLS Export</a>
</div>
{% endif %}

<div class="course_title">{% trans "Users" %}{% if training %} - {{ training }}{% endif %}</div>
<br />
 {% if users %}
  {% include "telemeta/inc/user_list.html" %}
 {% else %}
    <p class="help">{% trans "No users" %}</p>
 {% endif %}
</div>
{% endblock %}
