{% extends "telemeta/base.html" %}
{% load i18n %}
{% load telemeta_utils %}
{% load teleforma_tags %}

{% block head_title %}{% trans "Users" %} - {{ block.super }}{% endblock %}

{% block title %}
{% endblock %}

{% block content %}
<div id="module-set-left" style="width: 20%">

<div class="module">
<h3><img src="{% url telemeta-images "module_playlist.png" %}" alt="Trainings" style="vertical-align:middle" />{% trans "Trainings" %}</h3>
<div style="background: white;">
<ul>
{% block trainings %}
{% for training in trainings %}
<li><a href="{% url teleforma-training-users training.id %}">{{ training.code|lower|capfirst }}</a></li>
{% endfor %}
{% endblock trainings %}
</ul>
</div>
</div>

<div class="module">
<h3><img src="{% url telemeta-images "module_world.png" %}" alt="IEJ" style="vertical-align:middle" /> {% trans "IEJ" %}</h3>
<div style="background: white;">
<ul>
{% block iej %}
{% for iej in iejs %}
<li><a href="{% url teleforma-iej-users iej.id %}">{{ iej.name|lower|capfirst }}</a></li>
{% endfor %}
{% endblock iej %}
</ul>
</div>
</div>

<div class="module">
<h3><img src="{% url telemeta-images "module_playlist.png" %}" alt="Courses" style="vertical-align:middle" />{% trans "Courses" %}</h3>
<div style="background: white;">
<ul>
{% block courses %}
{% for course in courses %}
<li><a href="{% url teleforma-course-users course.id %}">{{ course }}</a></li>
{% endfor %}
{% endblock courses %}
</ul>
</div>
</div>

{% if users %}
<div class="module_action">
<a href="{% url postman_write users|to_recipients %}" class="component_icon button" id="action_orange">{% trans "Grouped message" %}</a>
</div>
{% endif %}

</div>

<div class="desk_messages">

{% if user.is_staff %}
<div style="float:right;">
<a href="{% if training %}{% url teleforma-training-users-export training.id %}{% elif iej %}{% url teleforma-iej-users-export iej.id %}{% elif course %}{% url teleforma-course-users-export course.id %}{% else %}{% url teleforma-users-xls-export %}{% endif %}" class="component_icon button icon_csv">XLS Export</a>
</div>
{% endif %}

<div class="course_title">{% trans "Users" %}{% if training %} - {{ training }}{% elif iej %} - {{ iej }}{% elif course %} - {{ course }}{% endif %}</div>
<br />
 {% if users %}
  {% include "telemeta/inc/user_list.html" %}
 {% else %}
    <p class="help">{% trans "No users" %}</p>
 {% endif %}
</div>
{% endblock %}
